.sideControl {
    position: sticky;
    top: 0;
    display: flex;
    padding: 10px;
    z-index: 1;
    background-color: var(--color-primary);
}
.mobile_menu {
    width: 24px;
    height: 24px;
    color: var(--accentColor);
}

.mobile_menu_button {
    padding: 10px 10px 9px;
    background-color: transparent;
    border-radius: 0;

}

.logo_container {
    display: flex;
}
.icon_pinned {
    transform: rotate(-45deg);
}
.icon_clicked::before {
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    position: absolute;
    left: 25px;
    background-color: var(--accentColor);
    border-radius: 50%;
}
.logo {
    display: flex;
    /* gap: 10px; */
    align-items: center;
    border-radius: var(--button-radius);
    padding: 0 5px;
    height: -webkit-fill-available;
    transition: background-color .3s ease-out;
    font-size: 1rem;
}

.logo:hover {
    background-color: var(--inputBackgroundColor);
}

.logo svg {
    fill: var(--accentColor);
    transform: rotate(34deg);
    width: 14px;
    color: var(--accentColor);
}

.logoText {
    text-align: left;
    font-family: K2d;
    color: var(--accentColor);
}
.deskTitle {
    font-size: 14px;
}
.sideButtons {
    background-color: transparent;
    padding: 0;
}
.sideButtons:hover {
    background-color: transparent;
}
.deskInfos_controls {
    display: flex;
    margin-left: 28px;
    gap: 8px;
}
.headCenter:hover .next,
.headCenter:hover .prev {
    visibility: visible;
}
.next {
    transform: rotate(90deg);
    width: 15px !important;
    visibility: hidden;
    height: 23px;
}

.prev {
    transform: rotate(270deg);
    width: 15px !important;
    visibility: hidden;
    height: 23px;
}

/* .logoText::before {
    content: " ";
    width: 1px;
    height: 24px;
    position: absolute;
    transform: translateX(-10px);
    top: 25%;
    background-color: var(--firstBorderColor);
} */



@media (min-width: 768px) {
    .header {
        left: 2rem;
        right: 2rem;
        border-radius: var(--border-radius);
    }
    .headLeft {
        grid-area: headLeft;
        display: flex;
        gap: 15px;
        justify-content: space-between;
        align-items: center;
        padding-left: 5px;
        height: 43px;
        flex-grow: 1;
        /* background-color: var(--mainColor); */
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
    }
    .headCenter {
        border-radius: var(--border-radius);
        border: var(--firstBorder);
    }
    .logo {
        display: flex;
        /* gap: 10px; */
        align-items: center;
        padding: 0 15px;
        height: -webkit-fill-available;
        transition: background-color .3s ease-out;
        /* font-size: 14px; */
    }
}

@media (min-width: 1280px) {
    .sideControl {
        position: fixed;
        top: 0;
        height: calc(100dvh - 20px);
        display: flex;
        flex-direction: column;
        padding: 10px;
        overflow-x: visible;
        background-color: transparent;
    }
    .deskInfos_controls {
        display: flex;
        align-items: flex-start;
        margin-left: 28px;
        gap: 8px;
        flex-direction: column;
    }
    .mobile_menu {
        display: none;
    }
    .deskTitle {
        font-size: 14px;
        margin-top: 0;
        margin-bottom: 30px;
        position: relative;
        top: -6px;
        left: 29px;
    }
    .logo_container {
        /* height: var(--navBarContentHeight); */
        display: flex;
        padding-top: 6px;
    }
    .deskInfos_controls {
        align-items: flex-start;
    }

}