.sideControl {
    position: sticky;
    top: 0;
    display: flex;
    padding: 10px;
    z-index: 2;
    background-color: var(--color-primary);
    grid-area: toolbar;
    align-items: center;
}

.mobile_menu {
    width: 24px;
    height: 24px;
    color: var(--accentColor);
}

.mobile_menu_button {
    padding: 10px 10px 9px;
    background-color: transparent;
    border-radius: 0;
}

.logo_container {
    display: flex;
    padding-bottom: 10px;
}

.icon_clicked::before {
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    position: absolute;
    left: 25px;
    background-color: var(--accentColor);
    border-radius: 50%;
}

.logo {
    display: flex;
    align-items: center;
    border-radius: var(--button-radius);
    padding: 0 5px;
    height: -webkit-fill-available;
    transition: background-color .3s ease-out;
    font-size: 1rem;
}

.logo svg {
    fill: var(--accentColor);
    transform: rotate(34deg);
    width: 14px;
    color: var(--accentColor);
}

.logoText {
    text-align: left;
    font-family: K2d;
    color: var(--accentColor);
    font-weight: 700;
    font-size: 1.25rem;
}

.deskTitle {
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: var(--color-medium);
}

.sideButtons {
    background-color: var(--color-primary);
    padding: 8px;
    border: 1px solid var(--firstBorderColor);
}

.sideButtons:hover {
    background-color: var(--hover-color-primary);
}

.deskInfos_controls {
    display: flex;
    /* margin-left: 28px; */
    gap: 4px;
    /* Add styles for larger screens directly */
    /* flex-direction: column; */
    align-items: center;
}

.next {
    transform: rotate(90deg);
    width: 15px !important;
    visibility: hidden;
    height: 23px;
}

.prev {
    transform: rotate(270deg);
    width: 15px !important;
    visibility: hidden;
    height: 23px;
}

.settings {
    border-radius: var(--button-radius);
    width: 36px;
    height: 36px;

    &:hover {
        background-color: var(--hover-color-primary);

        >svg {
            filter: drop-shadow(0 0 2px var(--accentColor));
        }

        .sidebar_inner_controls {
            display: flex;
        }
    }
}

.sidebar_inner_controls {
    position: relative;
    background-color: var(--color-primary);
    backdrop-filter: blur(20px);
    box-shadow: 0 15px 25px var(--firstShadow);
    border-radius: var(--button-radius);
    bottom: 70px;
    right: -27px;
    padding: 5px;
    display: none;
    flex-direction: column;
    align-items: center;
    color: var(--text-color-primary);
    font-weight: 500;
    justify-content: center;
    gap: 2px;
    width: max-content;
    border: var(--firstBorder);

    &>span {
        cursor: pointer;
        font-size: 14px;
        display: flex;
        align-items: center;
        width: -webkit-fill-available;
        padding: 5px 15px;
        border-radius: var(--button-radius);
        gap: 5px;

        &:hover {
            background-color: var(--hover-color-primary);

            >svg {
                filter: drop-shadow(0 0 2px var(--accentColor));
            }
        }

        svg {
            width: 20px;
            height: 20px;
        }
    }
}

.sidebar_controls {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;

    img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        object-fit: cover;
        vertical-align: middle;
    }
}

@media (min-width: 768px) {
    .header {
        left: 2rem;
        right: 2rem;
        border-radius: var(--border-radius);
    }

    .headLeft {
        grid-area: headLeft;
        display: flex;
        gap: 15px;
        justify-content: space-between;
        align-items: center;
        padding-left: 5px;
        height: 43px;
        flex-grow: 1;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
    }

    .headCenter {
        border-radius: var(--border-radius);
        border: var(--firstBorder);
    }

    .logo {
        display: flex;
        align-items: center;
        padding: 0 15px;
        height: -webkit-fill-available;
        transition: background-color .3s ease-out;
    }
}

@media (min-width: 1280px) {
    .sideControl {
        /* Already defined above */
        flex-direction: column;
        overflow-x: visible;
        background-color: transparent;
        /* position: fixed; */
        height: calc(100dvh - 20px);
        z-index: initial;
        /* Ensure it stays fixed */
    }

    .deskInfos_controls {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 62px;
    }

    .mobile_menu {
        display: none;
    }

    .deskTitle {
        font-size: 6rem;
        margin: 0;
        /* position: relative;
        top: 18px;
        left: 500px; */
        font-weight: 900;
        font-family: system-ui;
        text-transform: uppercase;
        font-style: italic;
        position: fixed;
        padding-left: 6px;
        line-height: 1;
    }

    /* .logo_container {
    } */
}