:root {
    --link-height: 59px;
    --link-width: 450px;
}

.home * {
    /* padding: 0; */
    box-sizing: border-box;
}

.home {
    font-size: 1.2rem;
}

.home p {
    max-width: 60ch;
    text-wrap: pretty;
    font-size: 1.5rem;
}

.home .headingText {
    text-wrap: balance;
    margin: 65px 0 75px 0;
    max-width: 100ch;
}

.home h2,
.home h3 {
    margin-bottom: 0;
}

.home a:hover {
    color: coral;
}

.home video {
    max-width: 40%;
    height: auto;
    border-radius: 5px;
    box-shadow: var(--secondNeumoShadow);
}

.main {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.main h2 {
    font-family: system-ui;
    font-size: 2.5rem;
    margin: 0;
    color: var(--homeH2Color);
}

.logo {
    position: relative;
    font-family: k2d;
    font-size: 2em;
    display: flex;

    & h2 {
        font-size: 96px;
        margin-top: 0;
    }
}

.logo::after {
    content: 'Beta';
    position: relative;
    color: coral;
    font-family: sans-serif;
    font-weight: 100;
    font-style: italic;
    top: 17px;
    height: fit-content;
}

.logo svg {
    width: 84px;
    height: 60px;
    transform: rotate(34deg);
    color: coral;
    position: relative;
    top: 41px;
    left: 27px;
}

.heroSection .subtitle {
    margin: 0;
}

.navlinks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 54px;
    position: relative;

    & a {
        font-size: 1.5rem;
    }
}

.heroSection {
    display: flex;
    justify-content: center;
    position: relative;
    flex-direction: column;
    align-items: center;
    mask-image: var(--homeMaskImage);
    background-size: 14px 14px;
    background-image: var(--homeHeroGradient);
    padding-bottom: 211px;
    /* gap: 50px; */
}

.heroSection p {
    text-align: center;
}

.link {
    width: var(--link-width);
    height: var(--link-height);
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    container-name: link;
    container-type: size;
    box-shadow: 0px 0px 26px var(--firstShadow);
    /* border: var(--firstBorder); */
}

.linkContent {
    z-index: 5;
    position: relative;
    display: flex;
    align-items: center;
    gap: 15px;
    top: -95%;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    padding-left: 20px;
    font-size: 1.5rem;
}

.background {
    position: absolute;
    width: 383px;
    height: 1167px;
    background: linear-gradient(108deg, rgba(255, 255, 255, 0) 49%, var(--inverseColor) 55%);
    z-index: -1;
    clip-path: polygon(0 0, 100% 0, 52% 50%, 48% 50%);
    animation: rotate 7s ease-in-out infinite;
    top: -552px;
    left: 36px;
    z-index: 1;
}

.border {
    display: flex;
    width: calc(var(--link-width) - 4px);
    height: calc(var(--link-height) - 4px);
    position: relative;
    top: 2px;
    left: 2px;
    background-color: var(--columnBgColor);
    z-index: 2;
    border-radius: 5px;
}

.fakelinks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    position: relative;
    margin: 90px 0 140px 0;

}

.actionLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    flex-wrap: wrap;
    margin-top: 85px;
}

/* .fakelinks div:nth-child(2) {
    transform: translateY(10px);
} */
.heroSection img {
    width: 21px;
    position: relative;
    top: 1px;
}

.section {
    min-height: 25vh;
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 16px;
    flex-wrap: wrap;
    gap: 50px;
}

.nav {
    display: flex;
    justify-content: flex-end;
    padding: 20px 65px;
    align-items: center;
}

.sup {
    font-family: system-ui;
    font-size: 2rem;
    vertical-align: super;
    font-style: italic;
}

.start {
    padding: 12px 0;
    background-color: #e5e5e5;
    color: #121212;
    border-radius: 5px;
    font-size: 1.4em;
    position: relative;
    width: 272px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 25px var(--firstShadow);
}

.start.try {
    background-color: black;
    color: #ccc;
}

.textColumn {
    display: flex;
    flex-direction: column;
    text-wrap: balance;
    width: calc(50% - 25px);
    flex-grow: 1;
}
.textColumn p {
    border-left: 2px solid coral;
    padding-left: 15px;
    margin-left: 3px;
}
.mediaColumn {
    display: flex;
    width: calc(50% - 25px);
}
.strong {
    color: coral;
}
.mediaColumn img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    /* box-shadow: var(--secondNeumoShadow); */
}

.footer {
    display: flex;
    min-height: 14vh;
    background-color: var(--homeFooterColor);
    margin-top: 85px;
}

@media (max-width: 1325px) {
    .section {
        flex-direction: column;
    }

    .fakelinks {
        flex-direction: column;
    }

    .textColumn,
    .mediaColumn {
        width: 100%;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .home h2,
    .home h3 {
        text-align: center;

    }
}

@keyframes pulse {
    0% {
        transform: scale(1) rotate(0deg) translate(97px, -48px);
    }

    50% {
        transform: scale(1.5) rotate(2deg) translate(97px, -48px);
    }

    100% {
        transform: scale(1) rotate(0deg) translate(97px, -48px);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 1325px) {
    .section:nth-of-type(2) {
        flex-direction: column-reverse;
    }
}