.linkDetails {
    margin-top: 114px;
    max-width: 1692px;
    color: var(--firstTextColor);
    background-color: var(--fifthColor);
    margin-left: 16.4%;
    padding: 0 20px 20px;
    border-radius: 5px;
}

.linkDetails h3 {
    color: var(--accentColor);
}

.mainSection {
    display: flex;
    gap: 25px;
    height: 600px;
}
.mainSectionMaximized {
    height: auto;
}
.videoPlayer {
    min-width: 70%;
    max-width: 980px;
    text-align: left;
}
.videoPlayerMaximized {
    min-width: 100%;
    max-width: 100%;
}
.videoPlayer iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 5px;
}
.videoPlayerMaximized iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 5px;
    height: calc(100vh - 329px);
}
.videoMaximized {
    margin-left: 0;
    max-width: none;
    aspect-ratio: 16 / 9;
}
.imageGallery {
    min-width: 25%;
    height: 598px;
    overflow-y: auto;
    flex-grow: 1;
    border: 1px solid var(--firstBorderColor);
    border-radius: 5px;
    padding: 2px;
    background-color: var(--thirdColor);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.imageGallery img {
    cursor: pointer;
}

.modal svg {
    position: fixed;
    top: 63%;
    right: 15%;
    color: white;
    cursor: pointer;
}

.wfull {
    width: 100%;
}

.navigation {
    margin-top: 25px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--thirdColor);
    border: 1px solid var(--firstBorderColor);
    gap: 14px;
}

.modal {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    margin-top: 126px;
    height: -webkit-fill-available;
}

.modal img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.modalContent {
    margin: auto;
    display: block;
    max-width: 100%;
}

.linkNotes {
    background-color: var(--thirdColor);
    height: 200px;
    color: var(--firstTextColor);
    padding: 10px;
    border: 1px solid var(--firstBorderColor);
}

.notesContainer p {
    color: var(--firstTextColor);
    text-align: left;
}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
}

.header a {
    flex-grow: 1;
    text-align: left;
}

.textControls {
    display: grid;
    border: 1px solid var(--firstBorderColor);
    padding: 5px;
    border-radius: 5px;
    background-color: var(--thirdColor);
    width: fit-content;
    gap: 11px;
    grid-template-columns: auto auto auto;
}

.text_controls_container {
    display: flex;
    justify-content: flex-end;

}
.navigation_container {
    display: flex;
    justify-content: center;

}

.notesContainer {
    margin-top: 25px;
    width: 50%;
    order: 1;
}

.notesContainer form {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

.notesContainer form label {
    padding-left: 6px;
    text-align: left;
    margin-bottom: 5px;
}

.footerSection {
    display: flex;
    align-items: center;
    gap: 50px;
}

.infoContainer {
    flex-grow: 1;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    font-size: 13px;
}

.infoContainer p {
    margin: 6px;
    width: 100%;
    text-align: left;
    text-wrap: balance;
}

.iconImage {
    width: 21px;
    vertical-align: middle;
    margin-left: 15px;
}

.imgOptions {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 11px;
    background-color: var(--thirdColor);
    border-radius: 5px;
    position: fixed;
    left: 25%;
    width: 10%;
    bottom: 78px;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    box-shadow: 0px 0px 13px var(--firstShadow);
}

.imgOptionsWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    border: 1px solid var(--firstBorderColor);
    border-radius: 5px;
    padding: 5px;
}

.imgOptionsWrapper img {
    width: 28px;
}

.imgOptionsControls {
    gap: 11px;
    display: grid;
    margin-top: 25px;
    border: 1px solid var(--firstBorderColor);
    border-radius: 5px;
    padding: 5px;
    grid-template-columns: auto auto auto auto;
    background-color: var(--thirdColor);
    height: 30px;

}

.details_nav_link {
    background-color: var(--accentColor);
    padding: 4px 12px;
    border-radius: 2px;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}
.details_nav_link_disabled {
    background-color: var(--accentColor);
    padding: 4px 12px;
    border-radius: 2px;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    opacity: .5;
    cursor: not-allowed;

}
.details_nav_link:hover {
    background-color: var(--firstHvColor);
    box-shadow: var(--secondNeumoShadow);
    transition: background-color .3s;
    color: var(--accentColor);
}

.upLinkImage {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 8%;
}

.upLinkImage label {
    position: absolute;
    display: flex;
    gap: 6px;
    cursor: pointer;
    height: 37px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.upLinkImage input {
    cursor: pointer;
    display: none;
    opacity: 0;
}

.slideInLeft {
    -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.editNameInput {
    width: -webkit-fill-available;
    height: 16px;

}

.editBlock {
    display: flex;
    align-items: center;
    width: 100%;
}

@keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-122px);
        transform: translateX(-122px);
        opacity: 0;
        visibility: hidden;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }
}

@-webkit-keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-122px);
        transform: translateX(-122px);
        opacity: 0;
        visibility: hidden;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }
}