.loginWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 82vh;
    width: 38%;
    border-radius: var(--border-radius);
    background-color: var(--columnBgColor);
    border: var(--firstBorder);
    gap: 25px;

    & p {
        font-weight: bold;
        font-size: 1.3rem;
        margin: 0;
    }
}
.google {
    background-color: var(--sidePanelsBgColor);
    border: var(--firstBorder);
    padding: 15px 35px;
    font-size: 1.6rem;
    gap: 12px;
    color: var(--secondTextColor);
    border-radius: var(--border-radius);
}
p.recoveryText {
    font-size: .875rem;
    font-weight: 500;
    text-align: center;
    max-width: 60ch;
}
.loginMain {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 50px;
}
.loginButton {
    border: var(--firstBorder);
    background-color: var(--inverseColor);
    color: var(--mainColor);
    font-weight: bold;
}
.loginForm,
.registerForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 100%;
    /* margin-bottom: 25px; */
}
.loginForm input[type="text"],
.registerForm input[type="text"],
.loginForm input[type="email"],
.loginForm input[type="password"],
.registerForm input[type="password"],
.registerForm input[type="email"] {
    width: 40%;
}
.logSwitch {
    cursor: pointer;
    font-size: 1em;
    color: coral;
    font-weight: bold;
    display: block;
    text-align: center;
}
.logSwitch:hover {
    color: var(--accentColor);
}
.start {
    font-size: 1.3rem;
    color: coral;
    font-weight: bold;
}
.start:hover {
    color: var(--accentColor);
}
.logo {
    position: relative;
    font-family: k2d;
    font-size: 2em;
    display: flex;

    & h2 {
        font-size: 96px;
        margin-top: 0;
    }
}

.logo::after {
    content: 'Beta';
    position: relative;
    color: coral;
    font-family: sans-serif;
    font-weight: 100;
    font-style: italic;
    top: 17px;
    height: fit-content;
}

.logo svg {
    width: 84px;
    height: 60px;
    transform: rotate(34deg);
    color: coral;
    position: relative;
    top: 41px;
    left: 27px;
}
.loaderWrapper {
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
.visible {
    opacity: 1;
    visibility: visible;
}
.hidden {
    opacity: 0;
    visibility: hidden;
}
.loader {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite;
    padding: 12px;
    margin: 25px;
    display: block;
    margin: 0 auto;
}

.loader::before,
.loader::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid var(--inputBackgroundColor);
    animation: prixClipFix 2s linear infinite;
}

.loader::after {
    border-color: var(--accentColor);
    animation: prixClipFix 2s linear infinite, rotate 0.5s linear infinite reverse;
    inset: 6px;
}
@keyframes rotate {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

@keyframes prixClipFix {
    0% {
        clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
    }

    25% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
    }

    50% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
    }

    75% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%)
    }

    100% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0)
    }
}