.loginWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 65vh;
    width: 30%;
    border-radius: var(--border-radius);
    background-color: var(--columnBgColor);
    border: var(--firstBorder);
}

.loginMain {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 50px;
}

.loginForm,
.registerForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 100%;
    margin-bottom: 25px;
}
.loginForm input[type="text"],
.registerForm input[type="text"],
.loginForm input[type="password"],
.registerForm input[type="password"] {
    width: 40%;
}
.logSwitch {
    cursor: pointer;
    font-size: 1em;
}
.logSwitch:hover {
    color: var(--accentColor);
}
.start {
    margin-top: 100px;
}
.start:hover {
    color: var(--accentColor);
}