.bookmarks {
    display: flex;
    gap: 12px;
    align-items: center;
    order: 2;
    padding: 10px;
    justify-content: space-evenly;
    overflow-x: auto;
    padding-inline: 24px;

    & img {
        max-width: var(--bookmarks_image_width);
        border-radius: 2px;
        height: auto;
    }

    & a {
        display: flex;
        cursor: pointer;
    }

    & a:hover {
        transform: scale(1.5);
    }
}

@media (min-width: 1024px) {
    .bookmarks {
        order: initial;
        justify-content: initial;
        padding: 0;
        overflow-x: initial;
    }
}

.book_dragged {
    background-color: var(--accentColor);
    width: 25px;
    height: 25px;
    border-radius: 2px;
}

/*El que se arrastra*/
.bookmark {
    max-width: var(--bookmarks_image_width);
    border-radius: 2px;
}