/* Bloque: Headerinfo */
.header_info {
    --gap: 14px;

    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-items: stretch;
    padding: 10px;
    order: 1;

    p {
        font-size: 15px;
        line-height: 1;
        font-weight: 600;
        white-space: nowrap;
        margin: 0;
        color: var(--text-color-secondary);

        &.header_info_user {
            font-size: 14px;
            font-weight: 400;
            color: var(--accentColor);
        }
    }

    .header_info_wrapper {
        /* display: none; */
        flex-direction: column;

    }

    .search_button_container {
        .search_button {
            background-color: transparent;
            border: 1px solid transparent;
            transition: border-color .25s, color .25s;
            border-radius: 8px;
            gap: 5px;
            color: var(--text-color-secondary);
            margin-right: var(--gap);
            margin-left: auto;

            &:hover {
                border-color: var(--accentColor);
                color: var(--text-color-primary);
            }

            .search_button_text {
                display: flex;
                align-items: center;
                gap: 5px;
                font-family: 'Inter Variable', sans-serif;
                font-weight: 600;

            }


            .search_button_icon {
                font-size: 1rem;
            }

            .search_button_keys {
                display: flex;
                align-items: center;
                gap: 2px;
                border: var(--firstBorder);
                border-radius: var(--button-radius);
                padding: 2px 5px;
                display: none;
            }

            .search_button_key_ctrl::before {
                content: 'Ctrl';
                font-size: 12px;
                font-weight: 600;
            }

            .search_button_keys kbd {
                font-family: 'Inter Variable', sans-serif;
                font-weight: 600;
                pointer-events: none;
            }
        }
    }

    .header_info_user_group {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        /* Bloque: HeaderImg */
        .header_image_link {
            transition: filter 0.3s ease-out;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            object-fit: cover;
            vertical-align: middle;
            cursor: pointer;

            anchor-name: --profile-button;

            @media (hover: hover) and (pointer: fine) {
                &:hover {
                    filter: drop-shadow(0px 0px 20px var(--accentColor));
                }

            }
        }
    }

    .header_info_meteo_info {
        display: flex;
        align-items: flex-end;
        flex-direction: column;

        .weather {
            display: flex;
            gap: 5px;

            & p {
                display: flex;
                align-items: center;
                gap: 6px;
                font-size: 12px;
                font-weight: 300;

                & i {
                    font-size: 14px;
                    color: var(--accentColor);
                }
            }
        }
    }

    .header_info_link {
        white-space: nowrap;
        color: var(--text-color-secondary);
        transition: color .25s;

        &:hover {
            color: var(--text-color-primary)
        }
    }

    .themeSwitcherButton {
        background-color: var(--color-medium);
        padding: 0;
        width: 40px;
        height: 22px;
        border-radius: 25px;
        border: var(--firstBorder);
        transition: border-color .25s;

        .themeSwitcherThumb {
            background-color: var(--color-primary);
            border-radius: 50%;
            width: 20px;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            transform: translateX(9px);
            transition: transform .3s ease-out;

            &.light {
                transform: translateX(-9px);
            }
        }

        svg {
            width: 12px;
        }

        &:hover {
            border-color: var(--accentColor);
            background-color: var(--color-medium);
        }
    }

    /* Bloque: header_controls */
    .header_controls {

        & .header_controls_button {
            transition: filter 0.3s ease-out;
            cursor: pointer;
            padding: 0;
            background-color: initial;

            @media (hover: hover) and (pointer: fine) {

                &:hover {

                    >svg {
                        filter: drop-shadow(0 0 2px var(--accentColor));
                    }
                }
            }

        }
    }
}

.mobile_menu_button {
    background-color: transparent;
    border-radius: 0;
    /* position: fixed;
    left: 0; */

    .mobile_menu_icon,
    .mobile_close_menu_icon {
        width: 24px;
        height: 24px;
        color: var(--accentColor);
    }
}

.logo {
    margin-left: 14px;
}

@media (min-width: 1024px) {
    .header_info {
        --gap: 25px;

        display: flex;
        order: initial;

    }

    .mobile_menu_button {
        display: none;
    }

    .logo {
        display: none;
    }

    .search_button_keys {
        display: initial !important;
    }
}

.divider_right {
    /* border-right: 1px solid var(--firstBorderColor); */
    padding-right: var(--gap);
    /* margin-right: var(--gap); */
}

/* .divider_left {
    border-left: 1px solid var(--firstBorderColor);
    padding-left: var(--gap);
    margin-left: var(--gap);
} */

.flex_center {
    display: flex;
    justify-content: center;
}

.header_info_user_menu {
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--color-primary);
    padding: 1rem;
    gap: 8px;
    border: var(--firstBorder);
    position-anchor: --profile-button;
    position: absolute;
    inset: auto;
    position-area: bottom center;

    & button {
        padding: 0;
        background-color: transparent;
        color: var(--text-color-secondary);
        font-family: inherit;
        font-weight: 600;
        font-size: 14px;
    }
}


.header_info_user_menu:popover-open {
    display: flex;
}

.weather {
    display: flex;
    gap: 8px;
}

.weatherSlider {
    margin-left: auto;
    display: flex;
    gap: 8px;
    padding-right: 28px;
}