.themeSwitcher {
    margin-right: 25px;
    padding-inline: 25px;
    border-inline: 1px solid var(--firstBorderColor);
}
.themeSwitcherButton {
    background-color: var(--color-medium);
    padding: 0;
    width: 40px;
    height: 22px;
    border-radius: 25px;
    border: var(--firstBorder);
    transition: border-color .25s;

    .themeSwitcherThumb {
        background-color: var(--color-primary);
        border-radius: 50%;
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateX(9px);
        transition: transform .3s ease-out;

        &.light {
            transform: translateX(-9px);
        }
    }

    svg {
        width: 12px;
    }

    &:hover {
        border-color: var(--accentColor);
        background-color: var(--color-medium);
    }
}