.bookmarks {
    display: flex;
    gap: 12px;
    position: sticky;
    padding: 20px;
    border-radius: 5px;
    grid-area: favopt2;
    justify-self: flex-start;
    top: 0;
    backdrop-filter: blur(5px);
    z-index: 2;
}
.bookmarks img {
    max-width: var(--bookmarks_image_width);
    border-radius: 2px;
    height: auto;
}
/* .bookmarks a {
    display: flex;
} */
.book_dragged {
    background-color: var(--accentColor);
    width: 25px;
    height: 25px;
    border-radius: 2px;
}
.bookmark {
    width: 25px;
    /* height: 25px; */
    border-radius: 2px;
}
/* @media (min-width: 1280px) {
    .bookmarks {
        top: 8px;
    }
} */