.bookmarks {
    display: flex;
    gap: 12px;
    position: fixed;
    flex-direction: column;
    right: 0;
    padding: 20px;
    border-radius: 5px;
    backdrop-filter: blur(32px);
    height: calc(100dvh - 40px);
    top: var(--toolbar-mobile-height);
}
.bookmarks img {
    max-width: var(--bookmarks_image_width);
    border-radius: 2px;
    height: auto;
}
/* .bookmarks a {
    display: flex;
} */
.book_dragged {
    background-color: var(--accentColor);
    width: 25px;
    height: 25px;
    border-radius: 2px;
}
.bookmark {
    width: 25px;
    /* height: 25px; */
    border-radius: 2px;
}
@media (min-width: 1280px) {
    .bookmarks {
        top: 8px;
    }
}