.reloj {
    font-size: 25px;
    line-height: 1;
    color: var(--accentColor);
    font-weight: 600;
    margin-bottom: 5px;
    font-family: monospace;
    text-align: left;
    padding-left: 20px;
}