.column_wrapper {
    min-height: 322.39px;
    transition: var(--columns_transition);
    z-index: 0;
    background-color: var(--color-medium);
    padding: 8px;
    border-radius: 8px;
    border: var(--firstBorder);

}

.column {
    display: flex;
    flex-direction: column;
}

.column_header_controls button,
.column_header_controls a {
    background-color: transparent;
    border-radius: 0;
    padding: 8px;
}

.column_header_controls a,
.column_header_controls button {
    & :hover {
        color: var(--accentColor);
        filter: drop-shadow(0px 0px 4px var(--accentColor));
    }
}

.opener {
    display: flex;
}

.opener svg {
    transform: rotate(90deg);
}

.selector {
    display: flex;
    /* margin-right: 11px; */
    transition: visibility .3s ease-in-out, opacity .3s ease-in-out;
}

.column_header {
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: var(--firstBorder);
    padding-left: 8px;
    margin-bottom: 9px;
    cursor: grab;
    background: repeating-linear-gradient(-45deg, var(--color-primary) 0 2px, var(--color-medium) 0 5px);
}

.column h2 {
    text-align: left;
    margin: 0;
    font-size: 13.333px;
    white-space: nowrap;
    text-overflow: ellipsis;
    /* padding: 3px 0 8px 0px; */
    color: var(--text-color-primary);
    /* flex-grow: 1; */
    /* margin-left: 15px; */
    transition: margin .3s ease-in-out;
    overflow: hidden;
    font-weight: 700;
    cursor: pointer;
    width: max-content;
}

.scPage .column h2 {
    font-size: 13.333px;
    margin-left: 5px;
    padding: 8px;
    line-height: normal;
}

.scPage .column .column_header {
    border: 0;
    border-bottom: var(--firstBorder);
    margin-bottom: 9px;
    padding-bottom: 0;
    padding-right: 8px;
}

/* .scPage .column {
    gap: 3px;
} */

.scPage.column_wrapper {
    overflow-y: auto;
    --scrollbar-width: 8px;
    --scrollbar-border-thickness: 0px;
    --scrollbar-border-radius: 12px;
    --scrollbar-height: 30px;
    /* margin-right: 16px; */
    max-height: calc(100dvh - 60px);
    border-radius: 0;
    background-color: var(--color-primary);
    /* border: var(--firstBorder); */
    padding: 0 0 8px;
    border: 0;
}

.scPage.column_wrapper::-webkit-scrollbar {
    width: var(--scrollbar-width);
    height: var(--scrollbar-height);
}

.scPage.column_wrapper::-webkit-scrollbar-track {
    background: var(--color-primary);
    border: var(--scrollbar-border-thickness) solid var(--scrollbar-track-border-color);
    border-radius: var(--scrollbar-border-radius);
}

.scPage.column_wrapper::-webkit-scrollbar-thumb {
    background: var(--color-medium);
    border: var(--scrollbar-border-thickness) solid var(--scrollbar-thumb-border-color);
    border-radius: var(--scrollbar-border-radius);
}

.selectMode .column h2 {
    margin-left: 0;
}

.dragginColumn {
    background-color: var(--accentColor);
    border-radius: var(--border-radius);
    transition: max-height .5s ease-in-out, box-shadow .5s ease-in, transform 250ms cubic-bezier(0.25, 1, 0.5, 1);
}

input[type='text'].editInput {
    font-size: 13.333px !important;
    font-weight: 700 !important;
    border-radius: 0;
    margin-bottom: 9px;
    line-height: normal !important;
    height: 34px !important;

}

input[type='text'].editInput:focus {
    background: var(--color-primary);
}

.scPage input[type='text'].editInput:focus {
    background: var(--color-medium);
}

.grab_area {
    width: 40%;
    height: -webkit-fill-available;
    cursor: grab;
    background: repeating-linear-gradient(-45deg, var(--color-primary) 0 2px, var(--color-medium) 0 5px);
    border: var(--firstBorder);
    border-top-right-radius: 6px;
}

.opener svg.rotate {
    transform: rotate(0deg);
}

@media (min-width: 1536px) {
    .opener {
        visibility: hidden;
        opacity: 0;
        transition: visibility .3s ease-in-out, opacity .3s ease-in-out;
    }

    .column_header:hover .opener {
        visibility: visible;
        opacity: 1;
    }

    .selector {
        visibility: hidden;
        opacity: 0;
        transition: visibility .3s ease-in-out, opacity .3s ease-in-out;
    }

    .column_header:hover .selector {
        visibility: visible;
        opacity: 1;
    }
}