.column_wrapper {
    min-height: 322.39px;
    transition: var(--columns_transition);
    z-index: 0;
    background-color: #0d223547;
    padding: 1rem;
    border-radius: 8px;

}

.column {
    display: flex;
    flex-direction: column;
    /* padding: 5px; */
    /* gap: 3px; */
}

[data-background='image'] .column_wrapper {
    background-color: var(--color-primary);
    padding: 16px;
    border-radius: 8px;

}

.opener {
    display: flex;
}

.opener svg {
    transform: rotate(90deg);
}

.selector {
    display: flex;
    margin-right: 11px;
    transition: visibility .3s ease-in-out, opacity .3s ease-in-out;
}

.column_header {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    position: relative;
    gap: 10px;
}

.column h2 {
    text-align: left;
    margin: 0;
    font-size: 1.1rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 5px 0;
    color: var(--text-color-primary);
    /* flex-grow: 1; */
    /* margin-left: 15px; */
    transition: margin .3s ease-in-out;
    overflow: hidden;
    font-weight: 700;
}

.scPage .column h2 {
    font-size: 1.5rem;
}

/* .scPage .column {
    gap: 3px;
} */

.scPage.column_wrapper {
    overflow-y: auto;
    --scrollbar-width: 8px;
    --scrollbar-border-thickness: 0px;
    --scrollbar-border-radius: 12px;
    --scrollbar-height: 30px;
    margin-right: 16px;
    max-height: 89vh;
    border-radius: 0;
    background-color: #0d223547;
}

.scPage.column_wrapper::-webkit-scrollbar {
    width: var(--scrollbar-width);
    height: var(--scrollbar-height);
}

.scPage.column_wrapper::-webkit-scrollbar-track {
    background: var(--color-primary);
    border: var(--scrollbar-border-thickness) solid var(--scrollbar-track-border-color);
    border-radius: var(--scrollbar-border-radius);
}

.scPage.column_wrapper::-webkit-scrollbar-thumb {
    background: var(--color-medium);
    border: var(--scrollbar-border-thickness) solid var(--scrollbar-thumb-border-color);
    border-radius: var(--scrollbar-border-radius);
}

.selectMode .column h2 {
    margin-left: 0;
}

.dragginColumn {
    background-color: var(--accentColor);
    border-radius: var(--border-radius);
    transition: max-height .5s ease-in-out, box-shadow .5s ease-in, transform 250ms cubic-bezier(0.25, 1, 0.5, 1);
}

input[type='text'].editInput {
    min-height: 46.39px !important;
    max-height: 46.39px !important;
    font-size: 1.1rem;
    font-weight: 700 !important;
    border-radius: var(--button-radius);
    padding-left: 15px;
}

input[type='text'].editInput:focus {
    background: var(--inputBackgroundColor);
}

.opener svg.rotate {
    transform: rotate(0deg);
}

@media (min-width: 1536px) {
    .opener {
        visibility: hidden;
        opacity: 0;
        transition: visibility .3s ease-in-out, opacity .3s ease-in-out;
    }

    .column_header:hover .opener {
        visibility: visible;
        opacity: 1;
    }

    .selector {
        visibility: hidden;
        opacity: 0;
        transition: visibility .3s ease-in-out, opacity .3s ease-in-out;
    }

    .column_header:hover .selector {
        visibility: visible;
        opacity: 1;
    }
}