.hidden {
    display: none;
}
.flex {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--mainColor);
    backdrop-filter: blur(20px);
    padding: 5px;
    border-radius: var(--border-radius);
    box-shadow: 0px 10px 16px var(--firstShadow);
    position: absolute;
    font-size: .875rem;
    border: var(--firstBorder);
}
.flex p, .flex span {
    margin: 0;
    min-width: 186px;
    text-align: left;
    padding: 5px 10px 5px 25px;
    border-radius: var(--button-radius);
    display: flex;
    gap: 13px;
    align-items: center;
    justify-content: space-between;
}
/* .flex p:first-of-type {
    padding-bottom: 0;
} */
.flex p:nth-child(2) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 186px;
    border-bottom: var(--firstBorder);
    padding-bottom: 10px;
    padding-top: 0;
    display: block;
    border-radius: 0;
    margin-bottom: 8px;
}
.rotate {
    transform: rotate(270deg);
}
.moveList {
    position: absolute;
    left: 95%;
    /* display: none; */
    flex-direction: column;
    padding: 5px;
    border-radius: 5px;
    top: 94px;
    width: max-content;
    background-color: var(--mainColor);
    backdrop-filter: blur(20px);
    box-shadow: 0px 0px 30px var(--firstShadow);
    border: var(--firstBorder);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.1s, opacity 0.1s linear;
}
.moveList li {
    padding: 8px 10px;
    border-radius: 5px;
}
.moveList li:hover {
    background-color: var(--frostHvColor);
}
.flex p:not(:first-child):hover, .flex span:hover {
    background-color: var(--frostHvColor);
    cursor: pointer;
}
.flex p:nth-child(2):hover {
    background-color: transparent;
    cursor: default;
}
.moveTo:hover .moveList {
    /* display: flex; */
    visibility: visible;
    opacity: 1;
}