.hidden {
    display: none;
}
.flex {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--fifthColor);
    width: 200px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 30px var(--firstShadow);
    position: absolute;
}
.flex p, .flex span {
    margin: 0;
    width: 90%;
    text-align: left;
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    gap: 13px;
}
/* .flex p:first-of-type {
    margin-top: 10px;
} */
.flex p:nth-child(2) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 85%;
    border-bottom: 1px solid var(--firstBorderColor);
    padding-bottom: 10px;
    display: block;
    border-radius: 0;
    margin-bottom: 8px;
}
.moveList {
    position: absolute;
    left: 95%;
    display: none;
    flex-direction: column;
    background-color: var(--fifthColor);
    padding: 5px;
    border-radius: 5px;
    top: 94px;
    width: max-content;
    box-shadow: 0px 0px 30px var(--firstShadow);
    
}
.moveList li {
    padding: 5px 10px;
    border-radius: 5px;
}
.moveList li:hover {
    background-color: var(--firstHvColor);
}
.flex span:hover {
    background-color: var(--firstHvColor);
    cursor: pointer;
}
.flex p:hover {
    cursor:default;
}
.moveTo:hover .moveList {
    display: flex;
}