.customizePanel {
  top: 126px;
  border-radius: 0;
  right: 0;
  left: initial;
  max-width: min-content;
  min-width: 525px;
  height: -webkit-fill-available;
  position: fixed;
  z-index: 7;
  box-shadow: 0px 49px 11px var(--firstShadow);
  background-color: var(--firstColor);
  font-size: 13px;
  transform: translate(105%, 0);
  transition: transform .5s ease;
}
.slideIn {
  transform: translate(0, 0);
}
.wrapper {
  padding: 15px;
}

.wrapper h3 {
  margin-top: 0;
  text-align: left;
  margin-bottom: 6px;
  background-color: var(--seventhColor);
  padding: 7px 15px;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 400;
}

/* .flex {
    display: flex;
    flex-direction: column;
} */
.hidden {
  display: none;
}

.selectBackground {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 25px;
  border: 1px solid var(--firstBorderColor);
  padding: 15px;
  border-radius: 5px;
  background-color: var(--sixthColor);
}

.selectBackground img {
  width: 100px;
  cursor: pointer;
}

.selectInfoColor,
.selectAccentColor {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  width: -webkit-fill-available;
  margin-bottom: 25px;
  border: 1px solid var(--firstBorderColor);
  padding: 15px;
  border-radius: 5px;
  background-color: var(--sixthColor);
}

.selectInfoColor div,
.selectAccentColor div {
  height: 30px;
  width: 30px;
  border-radius: 25px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.formControl {
  display: flex;
  column-gap: 25px;
  margin-bottom: 5px;
  flex-wrap: wrap;
  border: 1px solid var(--firstBorderColor);
  padding: 15px;
  border-radius: 5px;
  background-color: var(--sixthColor);
}

.removeBackground {
  background: var(--bgGradient);
  width: 100px;
  cursor: pointer;
}

.inputButton {
  position: absolute;
  left: 63%;
  padding: 0 5px;
  font-size: small;
  height: 28px;
  top: 35px;
  width: 35%;
}

.rowGroup {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 45%;
  flex-grow: 1;
}

.hasRowGroup {
  justify-content: center;
}

.range {
  appearance: none;
  -webkit-appearance: none;
  vertical-align: middle;
  outline: none;
  border: none;
  padding: 0;
  background: none;
  height: 100%;
  width: 65%;
}

.range::-webkit-slider-runnable-track {
  background-color: var(--thirdColor);
  height: 6px;
  border-radius: 3px;
  border: 1px solid transparent;
}

.range::-moz-range-track {
  background-color: var(--thirdColor);
  height: 6px;
  border-radius: 3px;
  border: none;
}

.range::-ms-track {
  color: transparent;
  border: none;
  background: none;
  height: 6px;
}

.range::-ms-fill-lower {
  background-color: #d7dbdd;
  border-radius: 3px;
}

.range::-ms-fill-upper {
  background-color: #d7dbdd;
  border-radius: 3px;
}

.range::-ms-tooltip {
  display: none;
  /* display and visibility only */
}

.range::-moz-range-thumb {
  border-radius: 20px;
  height: 18px;
  width: 18px;
  border: none;
  background: none;
  background-color: var(--accentColor);
}

.range:active::-moz-range-thumb {
  outline: none;
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  border-radius: 100%;
  background-color: var(--accentColor);
  height: 18px;
  width: 18px;
  margin-top: -7px;
}

.range:active::-webkit-slider-thumb {
  outline: none;
}

.range::-ms-thumb {
  border-radius: 100%;
  background-color: var(--accentColor);
  height: 18px;
  width: 18px;
  border: none;
}

.range:active::-ms-thumb {
  border: none;
}

.formControl select {
  background-color: var(--thirdColor);
  height: 30px;
  border-radius: 5px;
  color: var(--firstTextColor);
  padding: 0 6px;
  border: 1px solid var(--firstBorderColor);
}

/* input[type=range]:after {
    content: "";
    width: 3px;
    height: 13px;
    background: #c6d9ff;
    position: absolute;
    right: 8px;
  }
  input[type=range]:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 0;
    right: 10px;
    height: 13px;
    margin-left: 6px;
    background: linear-gradient(to right, #c6d9ff 3px, #c6d9ff 3px, red 0.1666666667em, transparent 0.1666666667em), linear-gradient(90deg, transparent 0, #c6d9ff 0) repeat-x 0 50%;
    background-size: 25% 1em, 100% 0.25em;
    box-sizing: border-box;
  } */