.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    right: 0;
    left: 0;
    background: var(--mainColor);
    height: 43px;
    z-index: 5;
    /* border-radius: var(--border-radius); */
    border: var(--firstBorder);
    backdrop-filter: blur(20px);
}

.mobile_menu {
    width: 24px;
    height: 24px;
    color: var(--accentColor);
}

.mobile_menu_button {
    padding: 10px 10px 9px;
    background-color: transparent;
    border-radius: 0;

}

.headCenter.show {
    transform: translateX(0);
}

.headCenter {
    position: fixed;
    top: calc(2rem + 30px);
    transform: translateX(-132%);
    transition: transform .3s ease-out;
    width: 100%;
    overflow: hidden;
    border-radius: var(--border-radius);
    border: var(--firstBorder);
}

.headLeft {
    grid-area: headLeft;
    display: flex;
    gap: 0;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;
    height: 43px;
    flex-grow: 1;
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
}

.headRight {
    grid-area: headRight;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

.headRight img {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    object-fit: cover;
    vertical-align: middle;
}

.logoContainer {
    height: var(--navBarContentHeight);
    display: flex;
}

.logo {
    display: flex;
    /* gap: 10px; */
    align-items: center;
    border-radius: var(--button-radius);
    padding: 0 5px;
    height: -webkit-fill-available;
    transition: background-color .3s ease-out;
    font-size: 1rem;
}
.settings.directional {
    display: none;
}
.logo:hover {
    background-color: var(--frostHvColor);
}

.logo svg {
    fill: var(--accentColor);
    transform: rotate(34deg);
    width: 14px;
    color: var(--accentColor);
}

.logoText {
    text-align: left;
    font-family: K2d;
    color: var(--accentColor);
}

.headCenter:hover .next,
.headCenter:hover .prev {
    visibility: visible;
}

.next {
    transform: rotate(90deg);
    width: 15px !important;
    visibility: hidden;
    height: 23px;
}

.prev {
    transform: rotate(270deg);
    width: 15px !important;
    visibility: hidden;
    height: 23px;
}

/* .logoText::before {
    content: " ";
    width: 1px;
    height: 24px;
    position: absolute;
    transform: translateX(-10px);
    top: 25%;
    background-color: var(--firstBorderColor);
} */

.bodcontrols {
    position: absolute;
    background-color: var(--mainColor);
    backdrop-filter: blur(20px);
    box-shadow: 0px 15px 25px var(--firstShadow);
    border-radius: var(--button-radius);
    top: 42px;
    right: 0%;
    padding: 5px;
    z-index: 12;
    flex-direction: column;
    align-items: center;
    display: none;
    color: var(--firstTextColor);
    font-weight: 500;
    justify-content: center;
    gap: 2px;
    width: auto;
    border: var(--firstBorder);
}

.bodcontrols span {

    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
    width: -webkit-fill-available;
    padding: 5px 15px;
    border-radius: var(--button-radius);
}

.bodcontrols span:hover {
    background-color: var(--frostHvColor);
}

.bodcontrols span:hover>svg {
    filter: drop-shadow(0px 0px 2px var(--accentColor));
}

.settings,
.settingsImg {
    padding: 10px;
    display: flex;
    gap: 15px;
    transition: background-color .3s ease-out, filter .3s ease-out;
}

.settings:hover,
.settingsImg:hover {
    background-color: var(--frostHvColor);
    cursor: pointer;
}

.settings:hover>svg {
    filter: drop-shadow(0px 0px 2px var(--accentColor));
}

.settings Img {
    padding: 0 10px;
    display: flex;
    gap: 15px;
}

.settings:hover .bodcontrols {
    display: flex;
}

.settingsImg {
    padding: 4px 10px;
}

@media (min-width: 768px) {
    .header {
        left: 2rem;
        right: 2rem;
        border-radius: var(--border-radius);
    }
    .headLeft {
        grid-area: headLeft;
        display: flex;
        gap: 15px;
        justify-content: space-between;
        align-items: center;
        padding-left: 5px;
        height: 43px;
        flex-grow: 1;
        /* background-color: var(--mainColor); */
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
    }

    .logo {
        display: flex;
        /* gap: 10px; */
        align-items: center;
        padding: 0 15px;
        height: -webkit-fill-available;
        transition: background-color .3s ease-out;
        /* font-size: 14px; */
    }
}

@media (min-width: 1536px) {
    .headCenter {
        grid-area: headCenter;
        display: flex;
        justify-content: center;
        transform: none;
        border: none;
        border-radius: 0;
        align-items: center;
        height: 43px;
        background-image: none;
        position: relative;
        top: auto;
        width: auto;
        user-select: none;
    }

    .headLeft {
        justify-content: center;
    }

    .nav {
        display: flex;
        position: fixed;
        transform: none;
        height: 43px;
        width: auto;
        z-index: 1;
        top: 83px;
        left: 0;
        width: 100%;
        align-items: center;
        gap: 5px;
        padding: 0;
    }

    .header {
        display: grid;
        grid-template-columns: 20% 70% 10%;
        grid-template-areas: "headLeft headCenter headRight";
        right: 2rem;
        position: fixed;
        /* top: 25px; */
        left: 2rem;
        /* background: var(--mainColor); */
        height: 43px;
        z-index: 5;
        margin: 0 auto;
        border-radius: var(--border-radius);
        backdrop-filter: blur(20px);
    }

    .mobile_menu_button {
        display: none;
    }
    .settings.directional {
        display: flex;
    }
}