.listOfLinks {
    /* min-width: auto; */
    display: flex;
    flex-wrap: wrap;
    /* margin-top: calc(2rem + 45px); */
    /* gap: 40px; */
    flex: 1;

}
.mainContent {
    display: grid;
    gap: 5px;
}
.mainContentWrapper {
    flex: 1;
    border-radius: 16px;
    margin: 16px;
    /* background-color: var(--frostHvColor); */
}
@media (min-width: 1536px) {
    /* .listOfLinks {
        min-width: 1400px;
    
    } */
    .mainContent {
        max-width: 75%;
        padding: 32px;
        margin: 0 auto;
        margin-top: 50px;
    }
}