.listOfLinks {
    min-width: auto;
    display: grid;
    /* grid-template-columns: auto auto auto auto; */
    margin-top: 90px;
    gap: 40px;

}
.mainContent {
    display: grid;
    max-width: auto;
    gap: 40px;
    margin-left: 0;
}
@media (min-width: 1536px) {
    .listOfLinks {
        min-width: 1400px;
        display: grid;
        /* grid-template-columns: auto auto auto auto; */
        margin-top: 90px;
        gap: 40px;
    
    }
    .mainContent {
        display: grid;
        max-width: 75vw;
        gap: 40px;
        margin-left: var(--main-content-margin-left);
    }
}