.list_of_links {
    display: flex;
    flex-direction: column;
    grid-area: main;
    /* padding-inline: 32px; */

    & .lol_content_wrapper {
        /* margin: 16px; */

        & .lol_content {
            display: grid;
            gap: 40px;
            padding: 78px;
        }

        & .sp_lol_content {
            display: flex;
            flex-wrap: wrap;
        }
    }
}

.subcategories {
    padding: 5px 10px;
    background-color: var(--inputBackgroundColor);
    border-radius: 5px;
    width: fit-content;
    border: 1px solid var(--secondBorderColor);
    margin: 7px;
    display: flex;
    align-items: center;
    gap: 5px;
}