.nav {
    display: flex;
    font-size: 14px;
    /* flex-wrap: wrap; */
    /* transform: translateX(-132%); */
    width: calc(100% - 50px);
    /* height: 43px; */
    /* overflow-y: auto; */
    transition: transform .5s;
    /* z-index: 6; */
    padding: 25px;
    overflow: hidden;
    background-color: var(--mainColor);
    /* scroll-behavior: smooth; */
}
.nav_side_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* margin-right: 10px; */
    /* margin-bottom: 15px; */
    /* align-items: flex-start; */

}
.nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 4px;
    margin: 0;
    width: -webkit-fill-available;
    align-items: center;
}

.nav ul li {
    height: var(--navBarContentHeight);
    min-width: fit-content;
    /* width: 94px; */
}

.nav ul li a {
    /* max-width: 180px; */
    font-size: 14px;
    padding: 5px 10px;
    color: var(--firstTextColor);
    text-decoration: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: background-color .3s ease-out;
    border-radius: var(--button-radius);
    height: -webkit-fill-available;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav ul li a.active {
    background-color: var(--firstHvColor);
}

.nav ul li a:hover {
    background-color: var(--frostHvColor);
    cursor: pointer;
}
.draggedDesk {
    list-style-type: none;
    width: fit-content;
    background-color: var(--accentColor);
    border-radius: var(--button-radius);
}
.draggedDesk a {
    color: transparent !important;
}
/*el componente link crea una clase active automaticamente por eso no funciona, los estilos estan en index.css*/
.draggedDesk a.active {
    background-color: transparent !important;
}
.floatLi {
    background-color: var(--linkBgColor);
    height: var(--navBarContentHeight);
    min-width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--button-radius);
    list-style-type: none;
}
/*Esto le da color cuando se arrastra!!! */
.floatLi:hover {
    background-color: var(--frostHvColor);
    cursor: pointer;

}
@media (min-width: 1536px) {
    .nav {
        display: flex;
        transform: none;
        height: 43px;
        z-index: 1;
        width: 90%;
        align-items: center;
        gap: 5px;
        padding: 0;
        scroll-behavior: smooth;
    }
    .nav ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        padding: 0;
        gap: 4px;
        margin: 0;
    }
    .nav ul li a {
        max-width: 180px;
        font-size: 14px;
        padding: 5px 10px;
        color: var(--firstTextColor);
        text-decoration: none;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        transition: background-color .3s ease-out;
        border-radius: 5px;
        height: -webkit-fill-available;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav ul li {
        height: var(--navBarContentHeight);
        min-width: fit-content;
        width: 94px;
    }
}