.searchbox {
    position: fixed;
    left: 37%;
    background-color: var(--color-primary);
    top: 150px;
    display: none;
    flex-direction: column;
    width: 60ch;
    padding: 10px;
    border-radius: var(--button-radius);
    min-height: 115px;
}
.flex {
    display: flex;
}
.searchForm {
    display: flex;
    /* align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 10;
    top: 35%;
    left: 50dvw;
    background-color: var(--color-primary);
    height: 100px;
    width: 395px;
    border-radius: 8px; */
}

.searchForm input.searchInput {
    flex: 1;
    /* padding-left: 11px;
    background-color: var(--inputBackgroundColor);
    border: 0;
    color: var(--text-color-primary);
    outline: none;
    font-family: inherit;
    font-weight: 500;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: auto;
    border-radius: 8px;
    height: 41px;
    transform: translateY(-52px);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: transform .3s ease-out, opacity .3s ease-out, visibility .3s ease-out; */
}
/* .searchForm input.searchInput.show {
    transform: translateY(45px);
    opacity: 1;
    visibility: visible;
} */
.searchForm input.searchInput::placeholder {
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-weight: 500;
    color: var(--text-color-secondary);
    font-size: .75rem;
}
.searchButtonIcon {
    height: -webkit-fill-available;
    background-color: transparent;
    border-top-right-radius: var(--button-radius);
    border-bottom-right-radius: var(--button-radius);
    width: 18px;
    padding: 0 10px;
    color: var(--accentColor);
    cursor: pointer;
}

.searchButton {
    background-color: transparent;
    padding: 0;
    height: 43px;
    border-radius: 0;
}

.cleanButton {
    background-color: var(--color-secondary);
    border-radius: 0;
    padding: 0;
    height: 43px;
    display: none;
    /* margin-right: 10px; */
}

.searchResults {
    /* flex-direction: column;
    margin: auto;
    position: fixed;
    width: auto;
    overflow-y: auto;
    display: flex;
    z-index: 6;
    align-items: center;
    top: 101px;
    background: var(--color-primary);
    max-height: 87vh;
    border-radius: var(--border-radius);
    border: var(--firstBorder);
    box-shadow: 0px 0px 18px var(--firstShadow);
    padding: 5px 0;
    gap: 3px;
    min-height: 50px;
    left: 0rem;
    right: 0rem; */
}

.searchResults .lcontrols {
    width: auto;
}

.searchResults .resControlsGroup {
    width: auto;
    display: flex;
    gap: 5px;
}

.searchResults div:not(:first-child) {
    width: 98%;
    /* height: 150px; */
    overflow: visible;
    align-items: center;
    max-height: none;
    flex-wrap: wrap;
}

/* .searchResults>div:first-child {
    position: fixed;
    width: 50%;
    background-color: var(--mainColor);
} */

.searchResults>div:nth-child(2) {
    margin-top: 60px;
}

.searchResults a {
    overflow: visible !important;
    width: 100%;
    position: static !important;
    align-items: center !important;
}

/* .searchResults::-webkit-scrollbar {
    width: 8px;
} */

/* .searchResults::-webkit-scrollbar-thumb {
    background-color: var(--accentColor);
} */
.searchResults {
    --scrollbar-width: 8px;
    --scrollbar-border-thickness: 0px;
    --scrollbar-border-radius: 12px;
    --scrollbar-height: 30px;
  }
  
  .searchResults::-webkit-scrollbar {
    width: var(--scrollbar-width, 20px);
    height: var(--scrollbar-height, 20px);
  }
  
  .searchResults::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-color, var(--accentColor));
    border: var(--scrollbar-border-thickness, 3px) solid var(--scrollbar-border-color, rgba(255, 255, 255, 0));
    border-radius: var(--scrollbar-border-radius, 4px);
  }
  
  .searchResults::-webkit-scrollbar-track {
    background: var(--scrollbar-track-color, transparent);
  }
  
  .searchResults::-webkit-scrollbar-corner {
    background: var(--scrollbar-corner-color, transparent);
    border: var(--scrollbar-border-thickness, 3px) solid var(--scrollbar-border-color, transparent);
    border-radius: var(--scrollbar-border-radius, 4px);
  }
  
  .searchResults::-webkit-scrollbar-button:vertical:start:increment,
  #preview::-webkit-scrollbar-button:vertical:end:decrement,
  #preview::-webkit-scrollbar-button:horizontal:start:increment,
  #preview::-webkit-scrollbar-button:horizontal:end:decrement {
    display: var(--show-double-buttons, none);
  }
/* input[type='text'].active {
    background: var(--color-primary);
    border: 1px solid #9a9a9a;
} */

.resControls {
    /* display: flex;
    gap: 5px;
    padding: 10px 0;
    border: 1px dashed var(--firstBorderColor);
    margin-bottom: 5px;
    justify-content: space-between;
    position: fixed;
    width: 96%;
    background-color: var(--mainColor);
    align-items: center; */
}
.loaderWrapper {
    display: flex;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    margin: 16px 0;
}
.resControls .cleanButton {
    margin-right: 10px;
    background-color: transparent;
    display: block;
}

.checkBox,
.noResText {
    margin-left: 15px;
}

.checkLabel,
.noResText {
    font-family: inherit;
    font-weight: 500;
    font-size: 13.3333px;
}

.loader {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite;
    padding: 12px;
    margin: 25px;
    display: block;
    margin: 0 auto;
  }
  
  .loader::before,
  .loader::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid var(--inputBackgroundColor);
    animation: prixClipFix 2s linear infinite;
  }
  
  .loader::after {
    border-color: var(--accentColor);
    animation: prixClipFix 2s linear infinite, rotate 0.5s linear infinite reverse;
    inset: 6px;
  }

@keyframes bblFadInOut {

    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em
    }

    40% {
        box-shadow: 0 2.5em 0 0
    }
}
@keyframes rotate {
    0% {
        transform: rotate(0deg)
    }
  
    100% {
        transform: rotate(360deg)
    }
  }
  
  @keyframes prixClipFix {
    0% {
        clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
    }
  
    25% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
    }
  
    50% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
    }
  
    75% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%)
    }
  
    100% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0)
    }
  }
@media (min-width: 768px) {
    /* .searchForm input.searchInput {
        display: initial;
        position: initial;
        border-radius: 0;
        width: 77%;
        border-bottom-left-radius: var(--button-radius);
        border-top-left-radius: var(--button-radius);
        height: 33px;
        transform: translateY(45px);
        visibility: visible;
        opacity: 1;
        z-index: 0;
    } */

    /* .searchForm {
        width: 100%;
        margin-left: 25px;
    } */

    .searchButton {
        background-color: var(--inputBackgroundColor);
    }

    .searchButton {
        height: 35px;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        display: none;
    }

    .searchResults {
        /* flex-direction: column; */
        /* margin: 12% 30%; */
        /* position: fixed;
        max-width: 1023px;
        overflow-y: auto;
        display: flex;
        z-index: 6;
        align-items: center;
        top: 58px;
        background: var(--color-primary);
        max-height: 550px;
        border-radius: var(--border-radius);
        border: var(--firstBorder);
        box-shadow: 0px 0px 18px var(--firstShadow);
        padding: 5px 0;
        gap: 3px;
        min-height: 69px; */
    }
    .resControls {
        /* display: flex;
        gap: 5px;
        padding: 10px 0;
        border: 1px dashed var(--firstBorderColor);
        margin-bottom: 5px;
        justify-content: space-between;
        position: fixed;
        max-width: 994px;
        background-color: var(--mainColor);
        align-items: center; */
    }
    .cleanButton {
        background-color: var(--color-secondary);
        border-radius: 0;
        padding: 0;
        height: 35px;
        display: block;
        /* margin-right: 10px; */
    }
    .resControls .cleanButton {
        margin-right: 10px;
        background-color: transparent;
        display: block;
    }
}

/* .searchResults::-webkit-scrollbar-track {
    background-color: var(--firstColor);
} */