.sideButtons {
    background-color: transparent;
    padding: 0;
}
.sideButtons:hover {
    background-color: transparent;
}
.deskInfos {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    border-radius: var(--border-radius);
    background-color: var(--mainColor);
    /* margin-left: 10px; */
    /* margin-bottom: 15px; */
    /* align-items: flex-start; */
    /* position: relative;
    left: -6px; */
}
.sectContainer {
    display: none;
}
.deskInfos p {
    width: -webkit-fill-available;
}
/* .nav_side_info p {
    margin-top: 0;
} */

.deskTitle {
    text-align: left;
    font-size: 14px;
    /* padding: 6px 20px; */
    margin-top: 0;
    margin-bottom: 12px;
}

.deskControls {
    padding: 0;
    /* background-color: var(--mainColor); */
    border-radius: 5px;
    /* margin: 0px auto 60px 20px; */
    gap: 10px;
    width: fit-content;
    display: flex;
    /* border: var(--firstBorder); */
}

.sideInfo div {
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.uiIcon {
    width: 19px;
    cursor: pointer;
    color: var(--accentColor);
}

.sect {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    border-left: 4px solid var(--firstBorderColor);
    padding-left: 10px;
    /* position: relative;
    left: -6px; */
    padding: 5px 15px;
    border: 1px solid transparent;
    /* border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; */
    border-radius: var(--border-radius);
    transition: background-color .6s ease-in, border-color .6s ease-in, border-color .6s ease-in;
    gap: 5px;
    backdrop-filter: blur(20px);
}

.sectLoader {
    margin-bottom: 60px;
}
.sectActive {
    background-color: var(--mainColor);
    /* border-left-color: var(--accentColor) !important; */
    border: var(--firstBorder);
}
.sideInfoSelectedCol {
    box-shadow: 0px 0px 30px var(--accentColor);
}

.sideInfo .sect a {
    text-decoration: none;
    color: var(--firstTextColor);
    font-size: 13px;
    cursor: pointer;
    text-align: left;
    /* margin-bottom: 5px; */
    transition: color .3s ease-out;
}
.sideInfo .sect a:hover {
    color: var(--accentColor);
}
.saludo {
    font-size: 12px;
    margin: 0;
    color: var(--firstTextColor);
    text-wrap: balance;
    text-align: left;
    font-weight: var(--linkFontWeight);
    margin-bottom: 5px;
}

@media (min-width: 1536px) {
    .sideInfo {
        position: fixed;
        top: calc(2rem + 40px);
        padding: 5px;
        min-height: 87vh;
        border-left: 1px solid transparent;
        width: 226px;
        left: calc(2rem - 5px);
        border-radius: var(--border-radius);
    }
    .deskInfos {
        border: var(--firstBorder);
        padding: 0 0 15px 15px;
    }
    .sectContainer {
        display: block;
    }
}