.single_column_page {
    display: flex;
    /* padding: 16px 0; */
}

.single_column_grid {
    display: grid;
    grid-template-columns: 25% 80ch 1fr;
    /* gap: 16px; */
    width: 100%;
    min-height: calc(100vh - 92px);
    background-color: var(--color-primary);
    /* padding: 24px; */
}