.video_player_iframe,
.video_player_placeholder {
    aspect-ratio: 16 / 9;
    width: -webkit-fill-available;
}

.video_player_placeholder {
    margin-bottom: 57.5px;
    background-image: var(--placeholderVid);
    background-size: 50%;
    background-position: center;
    border-bottom: var(--firstBorder);
    border-right: var(--firstBorder);
    background-repeat: no-repeat;
}