.header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    order: initial;
    width: min(100%, 500px);
    border: 1px solid var(--firstBorderColor);
    padding: 8px;
    flex-grow: 1;

    & p {
        display: grid;
        grid-template-columns: 80.34px auto;
        font-size: .813rem;
        margin: 0;
        margin-block: 3px;
        gap: 5px;
    }

    /* & p:nth-of-type(2) {
        margin-top: 5px;
        display: flex;
        align-items: center;
    } */
}

.header a {
    flex-grow: 1;
    text-align: left;
    padding-left: 10px;
}

.header h3 {
    margin-bottom: 0;
}

.badgeIcon {
    width: 15px;
    cursor: pointer;
    color: #ffffff;
    vertical-align: middle;
}

.badgeSuccess {
    background-color: #0db253;
    width: 32px;
    display: inline-flex;
    border-radius: 45px;
    text-align: end;
    padding-right: 5px;
    height: 18px;
    vertical-align: middle;
    align-items: center;
    justify-content: flex-end;
    /* margin-left: 5px; */
}

.badgeDanger {
    background-color: #b20d0d;
    width: 32px;
    display: inline-flex;
    border-radius: 45px;
    text-align: end;
    padding-right: 5px;
    height: 18px;
    vertical-align: middle;
    align-items: center;
    justify-content: flex-end;
    /* margin-left: 5px; */
}

@media (min-width: 1536px) {
    /* .header {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 25px;
        margin-bottom: 0;
        order: initial;
    } */

    .header a {
        padding-left: 0;
    }

}