.link_details_tabs_container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.link_details_tabs {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}

.link_details_tab {
    padding: 0.5rem 1rem;
    border-bottom: none;
    background: none;
    cursor: pointer;
    color: var(--text-color-primary);
    flex-grow: 1;
}

.link_details_tab.active {
    background-color: black;
}

.link_details_content {
    padding: 1rem;
    border: var(--firstBorder);
    border-radius: 4px;
    overflow-y: auto;
    --scrollbar-width: 8px;
    --scrollbar-border-thickness: 0px;
    --scrollbar-border-radius: 12px;
    --scrollbar-height: 30px;
}

.link_details_content::-webkit-scrollbar {
    width: var(--scrollbar-width);
    height: var(--scrollbar-height);
}

.link_details_content::-webkit-scrollbar-thumb {
    background: var(--color-medium);
    border-radius: var(--scrollbar-border-radius);
}

.link_details_content::-webkit-scrollbar-track {
    background: var(--color-primary);
    border: var(--scrollbar-border-thickness) solid var(--scrollbar-border-color);
    border-radius: var(--scrollbar-border-radius);
}