.link_details_tabs_container {
    display: flex;
    /* flex-direction: column; */
    overflow: hidden;
    padding-right: 16px;

    &>div:nth-child(1) {
        display: flex;
    }

    &>div:nth-child(2) {
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    &>div:nth-child(1)>button {
        padding: 0 8px;
        background-color: var(--color-secondary);
        border-radius: 0;
        border: 1px dashed var(--firstBorderColor);
        margin-right: 16px;
    }

    &>div:nth-child(1)>button:hover {
        background-color: var(--color-medium);
    }
}

.link_details_tabs {
    display: flex;
    justify-content: space-between;
    /* margin-top: 1em; */
}

.link_details_tab {
    padding: 0.5rem 1rem;
    border-bottom: none;
    background: none;
    cursor: pointer;
    color: var(--text-color-primary);
    flex-grow: 1;
    border-radius: 0;
}

.link_details_tab:not(.active):hover {
    background-color: var(--color-medium);
}

.link_details_tab.active {
    background-color: var(--color-medium);
}

.link_details_content {
    padding: 1rem;
    border: var(--firstBorder);
    border-radius: 4px;
    overflow-y: auto;
    --scrollbar-width: 8px;
    --scrollbar-border-thickness: 0px;
    --scrollbar-border-radius: 12px;
    --scrollbar-height: 30px;
    flex: 1;
    display: flex;

    &>div:nth-child(1) {
        display: flex;
        flex: 1;
        max-width: 100%;
        flex-direction: column;
    }
}

.link_details_content::-webkit-scrollbar {
    width: var(--scrollbar-width);
    height: var(--scrollbar-height);
}

.link_details_content::-webkit-scrollbar-thumb {
    background: var(--color-medium);
    border-radius: var(--scrollbar-border-radius);
}

.link_details_content::-webkit-scrollbar-track {
    background: var(--color-primary);
    border: var(--scrollbar-border-thickness) solid var(--scrollbar-border-color);
    border-radius: var(--scrollbar-border-radius);
}