/* Bloque: sidebar */
.sidebar {
    position: fixed;
    top: var(--toolbar-mobile-height);
    height: calc(100dvh - var(--toolbar-mobile-height));
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow-y: auto;
    width: 0px;
    transition: width 0.3s ease-out;
    background-color: var(--color-primary);
    z-index: 2;
    overscroll-behavior: contain;

    /* Para dispositivos que soportan hover (normalmente no táctiles) */
    @media (hover: hover) {

        /* Reglas para dispositivos no táctiles */
        &:hover {
            width: 225px;

            >.sidebar_wrapper {
                visibility: visible;
                opacity: 1;
                transition: visibility 0.1s, opacity 0.1s;
                transition-delay: 0.3s;
            }
        }
    }
}

.sidebar_wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
}

/* Bloque: sidebarinfo */
.sidebar_info {
    display: flex;
    padding: 0 20px;
    grid-area: favopt2;
    justify-self: flex-end;
    align-items: center;
    gap: 2px;
    position: sticky;
    top: 0;

    p {
        margin: 0;
        font-size: 15px;
        line-height: 1;
        color: var(--text-color-secondary);
        font-weight: 600;

        &:first-of-type {
            color: var(--text-color-primary);
        }

        &.sidebar_info_user {
            font-size: 14px;
            font-weight: 400;
            color: var(--accentColor);
        }
    }

    .sidebar_info_wrapper {
        display: flex;
        justify-content: space-between;
        flex-direction: column;

    }
    .sidebar_info_meteo_info {
        display: flex;
        align-items: flex-end;
        flex-direction: column;

        & svg {
            width: 14px;
        }
    }
}

/* Bloque: sidebar_controls */
.sidebar_controls {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding-block: 12px;
    align-items: center;

}



/* Bloque: settings */
.settings {
    padding: 8px;
    display: flex;
    gap: 15px;
    transition: background-color 0.3s ease-out, filter 0.3s ease-out;
    cursor: pointer;

    &:hover {
        background-color: var(--hover-color-primary);

        >svg {
            filter: drop-shadow(0 0 2px var(--accentColor));
        }

        .sidebar_inner_controls {
            display: flex;
        }
    }

    &.directional {
        display: none;
    }

    img {
        padding: 0 10px;
        display: flex;
        gap: 15px;
    }
}

/* Bloque: settingsImg */
.settings_image_link {
    padding: 4px 4px 4px 10px;
    display: flex;
    gap: 15px;
    transition: background-color 0.3s ease-out, filter 0.3s ease-out;
    cursor: pointer;

    &:hover {
        filter: drop-shadow(0px 0px 20px hsl(150deg 6.38% 44.55%));
    }
    img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
        vertical-align: middle;
    }
}

/* Bloque Nav */
.nav {
    /* flex: 1; */
    border-block: var(--firstBorder);
    overflow-y: auto;

    & ul {
        padding: 0;
    }
}

/*cambiar por una clase por temas de especificidad*/
.nav ul li {
    >a {
        font-size: .875rem;
        padding: 7px 10px;
        color: var(--text-color-primary);
        text-decoration: none;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        border-radius: var(--button-radius);
        display: flex;
        align-items: center;
        font-weight: 500;
        gap: 8px;

        &:hover {
            background-color: var(--hover-color-primary);
            cursor: pointer;

            .plus_icon {
                visibility: visible;
            }
        }
    }

    ul {
        height: 0;
        overflow: hidden;
        transition: height .2s ease-out;
        margin-top: 5px;
        border-left: 1px solid hsl(from var(--accentColor) h s l / 0.5);
        margin-left: 38px;
        padding-left: 5px;

        &.show {
            height: fit-content;
        }
        li {
            margin-bottom: 5px;
        }

        li a {
            font-size: .8rem;
            display: block;
            /* font-weight: 300; */
        }
    }
}


button:has(.plus_icon) {
    background-color: transparent;
    padding: 5px;

    &:hover {
        background-color: var(--color-primary);
        border-radius: 50%;
    }
}

.plus_icon {
    width: 12px;
    cursor: pointer;
    visibility: hidden;
    transform: rotate(270deg);
    margin-top: 1px;

    &.plus_icon_opened {
        transform: rotate(0deg);
        visibility: visible;
    }
}


.draggedDesk {
    list-style-type: none;
    background-color: var(--accentColor);
    border-radius: var(--button-radius);

    a {
        color: transparent !important;

        &.active {
            background-color: transparent !important;
        }
    }
}


.floatLi {
    list-style-type: none;
    height: fit-content;
    border-radius: var(--button-radius);
    min-width: fit-content;
    display: flex;
    align-items: center;

    a {
        font-size: .875rem;
        padding: 7px 10px;
        color: var(--text-color-primary);
        text-decoration: none;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        border-radius: var(--button-radius);
        display: flex;
        align-items: center;
        font-weight: 500;
        gap: 8px;
    }

    /*Esto le da color cuando se arrastra!!! */
    &:hover {
        background-color: var(--color-primary);
        border: var(--firstBorder);
        cursor: pointer;
    }
}

a.active:hover {
    background-color: var(--color-primary) !important;
}

.icon_pinned {
    transform: rotate(-45deg);
}

@media (min-width: 1280px) {
    .sidebar {
        position: sticky;
        top: 0;
        width: 10px;
        height: 100dvh;
    }

    .nav {
        flex: 1;
        border-top: var(--firstBorder);
        max-height: calc(100dvh - 20px);
        overflow: hidden;

        ul {
            padding: 0;
            /* height: var(--nav-height); */
            /* overflow-y: auto; */
        }
    }

    .reloj {
        margin-top: 15px;
    }
}