/* Bloque: sidebar */
.sidebar {
    position: fixed;
    top: var(--sidebar-top-onmobile);
    height: calc(100dvh - var(--sidebar-top-onmobile));
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow-y: auto;
    width: 0px;
    transition: width 0.3s ease-out;
    background-color: var(--color-primary);
    z-index: 2;
    overscroll-behavior: contain;

    /* Para dispositivos que soportan hover (normalmente no táctiles) */
    @media (hover: hover) {

        /* Reglas para dispositivos no táctiles */
        &:hover {
            width: var(--sidebar-desktop-width);

            >.sidebar_wrapper {
                visibility: visible;
                opacity: 1;
                transition: visibility 0.1s, opacity 0.1s;
                transition-delay: 0.3s;
            }
        }
    }

    .sidebar_wrapper {
        display: flex;
        flex-direction: column;
        flex: 1;
        overflow: hidden;
        visibility: hidden;
        opacity: 0;
    }
}


/*Bloque Logo */
.logo_container {
    display: flex;
    align-items: center;
    min-height: 40px;

    .logo {
        display: flex;
        align-items: center;
        border-radius: var(--button-radius);
        padding: 0 5px;
        height: -webkit-fill-available;
        height: -moz-available;
        font-size: 1rem;

        .logo_text {
            text-align: left;
            font-family: K2d;
            font-weight: 700;
            font-size: 1rem;
        }

        & svg {
            fill: var(--accentColor);
            transform: rotate(34deg);
            width: 14px;
            color: var(--accentColor);
        }
    }
}

/* Bloque Nav */
.nav {
    --navlinks-block-padding: 7px;
    /* overflow-y: auto; */

    /* & ul {
        padding: 0;
    } */

    .nav_first_level_ul {
        padding: 30px 0 40px 0;
        margin: 0;

        & li {
            >a {
                text-decoration: none;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-weight: 500;
                border-left: 1px solid var(--firstBorderColor);
                padding: var(--navlinks-block-padding) 0;
                padding-left: 20px;
                transition: border-color .5s, color .5s;

                &:hover {
                    color: var(--text-color-primary);
                    cursor: pointer;
                    border-left-color: var(--accentColor);

                    .plus_icon {
                        color: var(--text-color-primary);
                    }

                    .grab_icon {
                        color: var(--text-color-primary);
                    }
                }
            }

            >a.active {
                color: var(--text-color-primary);
                border-left-color: var(--accentColor);
            }

            ul {
                /* height: 0;
                overflow: hidden;
                transition: height .2s ease-out;
                /* margin: 5px 0; */
                /* margin-left: 16px; */
                padding-left: 20px;

                /* &.show {
                    height: fit-content;
                } */

                li a {
                    font-size: .8rem;
                    display: flex;
                    justify-content: space-between;
                    padding: var(--navlinks-block-padding) 10px var(--navlinks-block-padding) 20px;
                    position: relative;
                    border-left: 1px solid var(--firstBorderColor);
                    transition: border-color .5s, color .5s;
                }

                li a.active {
                    color: var(--text-color-primary);
                    border-left-color: var(--accentColor);

                }
            }
        }
    }
}




button:has(.plus_icon) {
    background-color: transparent;
    padding: 5px;

    &:hover {
        background-color: var(--color-secondary);
        border-radius: 50%;
    }
}

.plus_icon {
    width: 12px;
    cursor: pointer;
    color: transparent;
    transform: rotate(90deg);
    margin-top: 1px;
    transition: color .5s;

    &.plus_icon_opened {
        transform: rotate(0deg);
        color: var(--text-color-primary);
    }
}

.grab_icon {
    width: 12px;
    cursor: pointer;
    color: transparent;
}


.draggedDesk {
    list-style-type: none;
    background-color: var(--accentColor);
    border-radius: var(--button-radius);

    a {
        color: transparent !important;

        &.active {
            background-color: transparent !important;
        }
    }
}


.floatLi {
    list-style-type: none;
    height: fit-content;
    border-radius: var(--button-radius);
    min-width: fit-content;
    display: flex;
    align-items: center;

    a {
        font-size: .875rem;
        padding: 2px;
        color: var(--text-color-primary);
        text-decoration: none;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        border-radius: var(--button-radius);
        display: flex;
        align-items: center;
        font-weight: 500;
        gap: 8px;
    }

    /*Esto le da color cuando se arrastra!!! */
    &:hover {
        background-color: var(--color-primary);
        border: var(--firstBorder);
        cursor: pointer;
    }
}

a.active:hover {
    background-color: var(--color-primary) !important;
}

@media (min-width: 1280px) {
    .sidebar {
        position: sticky;
        top: 0;
        width: 10px;
        height: 100dvh;
    }

    .nav {
        flex: 1;
        max-height: calc(100dvh - 20px);
        /* overflow: hidden; */

        >ul {
            padding: 0;
        }

        &[data-overlayscrollbars="host"] {
            overflow: initial;
        }
    }
}

.drag_to_top {
    border-top: 2px solid var(--accentColor);
}

.drag_to_bottom {
    border-bottom: 2px solid var(--accentColor);
}

.drag_over {
    background-color: var(--accentColor);
    outline: 2px dashed white;
}