.sideInfo {
    position: sticky;
    top: 0;
    height: calc(100dvh - 20px);
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow-y: auto;
    width: 10px;
    transition: width .3s ease-out;
}
.sideInfo:hover {
    width: 199px;
}
.sideInfo:hover > .sideInfoWrapper {
    visibility: visible;
    opacity: 1;
    transition: visibility .1s, opacity .1s;
    transition-delay: .3s;
}
.sideInfoWrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
}
.deskInfos {
    display: flex;
    flex-direction: column;
    padding-inline: 10px;
    padding: 0px 10px;
    border-left: 3px solid var(--secondTextColor);
    margin-block: 12px;

    & p {
        margin: 0;
        font-size: 15px;
        line-height: 1.4;
        color: var(--secondTextColor);
        font-weight: 600;
    }
    & p:first-of-type {
        color: var(--firstTextColor)
    }
    & p.deskInfos_user {
        font-size: 14px;
        font-weight: 400;
        color: var(--accentColor)
    }
    & .uiIcon {
        color: var(--secondTextColor);
    }
}
.deskInfos_info {
    display: flex;
    justify-content: space-between;
    
}
.uiIcon {
    width: 20px;
    cursor: pointer;
}
.bottom_controls {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}
.bodcontrols {
    position: absolute;
    background-color: var(--mainColor);
    backdrop-filter: blur(20px);
    box-shadow: 0px 15px 25px var(--firstShadow);
    border-radius: var(--button-radius);
    bottom: 42px;
    right: 0%;
    padding: 5px;
    z-index: 12;
    flex-direction: column;
    align-items: center;
    display: none;
    color: var(--firstTextColor);
    font-weight: 500;
    justify-content: center;
    gap: 2px;
    width: auto;
    border: var(--firstBorder);
}

.bodcontrols span {

    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
    width: -webkit-fill-available;
    padding: 5px 15px;
    border-radius: var(--button-radius);
}

.bodcontrols span:hover {
    background-color: var(--frostHvColor);
}

.bodcontrols span:hover>svg {
    filter: drop-shadow(0px 0px 2px var(--accentColor));
}

.settings,
.settingsImg {
    padding: 8px;
    display: flex;
    gap: 15px;
    transition: background-color .3s ease-out, filter .3s ease-out;
}

.settings:hover,
.settingsImg:hover {
    background-color: var(--frostHvColor);
    cursor: pointer;
}

.settings:hover>svg {
    filter: drop-shadow(0px 0px 2px var(--accentColor));
}

.settings Img {
    padding: 0 10px;
    display: flex;
    gap: 15px;
}

.settings:hover .bodcontrols {
    display: flex;
}

.settingsImg {
    padding: 4px 10px;
}
.settings.directional {
    display: none;
}
.bottom_controls img {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    object-fit: cover;
    vertical-align: middle;
}
.nav_side_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.nav ul li {
    height: var(--navBarContentHeight);
    min-width: fit-content;
    margin-bottom: 5px;
}

.nav ul li a {
    font-size: .875rem;
    padding: 5px 10px;
    color: var(--firstTextColor);
    text-decoration: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-radius: var(--button-radius);
    height: -webkit-fill-available;
    display: flex;
    align-items: center;
    font-weight: 500;
}

.nav ul li a.active {
    background-color: var(--frostHvColor);
}

.nav ul li a:hover {
    background-color: var(--frostHvColor);
    cursor: pointer;
}
.draggedDesk {
    list-style-type: none;
    background-color: var(--accentColor);
    border-radius: var(--button-radius);
}
.draggedDesk a {
    color: transparent !important;
}
/*el componente link crea una clase active automaticamente por eso no funciona, los estilos estan en index.css*/
.draggedDesk a.active {
    background-color: transparent !important;
}
.floatLi {
    background-color: var(--linkBgColor);
    height: var(--navBarContentHeight);
    min-width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--button-radius);
    list-style-type: none;
}
/*Esto le da color cuando se arrastra!!! */
.floatLi:hover {
    background-color: var(--frostHvColor);
    cursor: pointer;

}
@media (min-width: 1536px) {
    .nav {
        flex: 1;
        border-top: var(--firstBorder);

        & ul {
            margin-left: 8px;
            padding: 0;
        }
    }
    .reloj {
        margin-top: 15px;
    }
}
/* @media (min-width: 1536px) {
    .sideInfo {
        position: sticky;
        top: 0;
        height: calc(100dvh - 20px);
        display: flex;
        flex-direction: column;
        padding: 10px;
        overflow-y: auto;
        width: 199px;
        transition: width .3s ease-out;
    }
    .sideInfoWrapper {
        display: flex;
        flex-direction: column;
        flex: 1;
        overflow: hidden;
    }
    .sectContainer {
        display: block;
    }
    .settings.directional {
        display: flex;
    }
} */