#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  min-height: 100vh;
}
main {
  display: flex;
  flex-wrap: wrap;
  margin-top: 125px;
}
.column {
  width: 33%;
}
.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.loginWrapper {
  display: flex;
  height: 960px;
  width: 600px;
  border: 1px solid #ccc;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  gap: 8px;
  justify-content: center;
}

li {
  width: fit-content;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}