#root {
  max-width: 1400px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  /* min-height: 100vh; */
}

.draggedDesk li {
  list-style-type: none;
  width: fit-content;
}

.draggedDesk li a {
  font-size: 14px;
  padding: 8px 10px;
  color: var(--firstTextColor);
  text-decoration: none;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-radius: 5px;
  background-color: var(--firstHvColor);
}

.uiIcon {
  width: 24px;
  cursor: pointer;
  color: var(--accentColor);
}
.uiIcon-button {
  width: 20px;
  color: var(--buttonTextColor);
  cursor: pointer;
}
.column {
  width: 33%;
}

a.active {
  background-color: var(--firstHvColor);
}

.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.loginWrapper {
  display: flex;
  height: 960px;
  width: 600px;
  border: 1px solid #ccc;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.deskForm {
  min-width: 525px;
  height: auto;
  top: 15%;
  background-image: var(--bgSecondGradient);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  z-index: 7;
  padding: 50px;
  border-radius: 15px;
  gap: 15px;
}

.deskForm fieldset {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 12px;
  padding: 24px 24px 0 24px;
  border: 1px solid var(--firstBorderColor);
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

ul {
  list-style-type: none;
}

/* li {
  width: fit-content;
} */

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}