html.dark {
  background-color: #1D1D1D;
}

@font-face {
  font-family: 'K2D';
  src: url('/fonts/k2d/K2D-Regular.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'K2D';
  src: url('/fonts/k2d/K2D-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  /* outline: 2px solid lime; */
}

:root {
  font-family: 'Inter Variable', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: var(--text-color-primary);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  overscroll-behavior: contain;
  interpolate-size: allow-keywords;
  /*Ojo ----- */

  --main-content-margin-left: calc(350px + 3rem);
  --border-radius: 5px;
  --button-radius: 4.5px;
  --bookmarks_image_width: 18px;
  --columns_transition: height 300ms ease;
  --navBarContentHeight: 42px;
  --nav-height: 1128px;
  --toolbar-mobile-height: 99px;
  --sidebar-top-onmobile: 99px;
  --sidebar-desktop-width: 260px;
  --link-height: 43px;

  /* --text: oklch(17.30% 0.007 34.32);
  --background: oklch(98.07% 0.002 17.19);
  --primary: oklch(63.18% 0.034 37.79);
  --secondary: oklch(80.36% 0.033 135.03);
  --accent: oklch(72.22% 0.048 146.99); */


  /* --color-primary: radial-gradient(farthest-corner circle at 100% 100% in oklab, oklch(87% 0 0) 0%, oklch(100% 0.00 0) 100%); */
  --color-primary: hsl(220 20% 94% / 1);
  --color-medium: hsl(220 20% 97% / 1);
  --color-secondary: var(--color-slate-50);
  --text-color-primary: var(--color-zinc-800);
  --text-color-secondary: var(--color-zinc-500);
  /* --hover-color-primary: hsl(from var(--accentColor) h s l / 30%); */
  --text-color-inverse: var(--color-zinc-100);
  --btn-bg-color: hsl(220 18% 27% / 1);
  --column-background: hsl(220deg 20% 97% / 38%);

  --placeholderImg: url(/img/placeholderImgLight.png);
  --placeholderVid: url(/img/placeholderVidLight.png);
  --firstShadow: #50505029;
  --secondShadow: #5050501c;
  --secondColor: #f9f9f9;
  --thirdColor: white;
  --firstBorder: 1px solid #e7e7e7;
  --firstBorderColor: var(--color-slate-200);
  --secondBorderColor: var(--color-slate-300);
  --firstColorOpacity: rgb(255 255 255 / 89%);
  --buttonColor: #f6f6f6;
  --buttonHoverColor: #d6d6d6;
  --secondNeumoShadow: inset 0 0 1em rgb(141 141 141 / 10%), 0 0 0 2px rgb(239 239 239);
  --inverseColor: black;
  --homeMaskImage: radial-gradient(ellipse 40% 75% at 50% 50%, #000 59%, transparent 120%);
  --homeHeroGradient: linear-gradient(90deg, #4f4f4f08 1px, transparent 0), linear-gradient(180deg, #4f4f4f08 1px, transparent 0);
  --homeH2Color: coral;
  --homeFooterColor: #f1f1f1;
  --sidePanelsBgColor: white;
  --inputBackgroundColor: var(--color-secondary);
  --linkFontWeight: 600;

}

/*Todo lo que quieras aplicar al modo blur debe ir con el maincolor*/
html.transparent {
  --mainColor: #ffffff99;
}

html.dark.transparent {
  --mainColor: #1d1d1d6b;

}

html.dark {
  /* --color-primary: url('/img/fondo.png'); */
  /* --color-primary: radial-gradient(farthest-corner circle at 100% 100% in oklab, oklch(0% 0.5 360) 0%, oklch(0 0 0 / 0.27) 100%); */
  --color-primary: var(--color-slate-950);
  --color-medium: hsl(220deg 16.07% 7.85%);
  --color-secondary: var(--color-slate-900);
  --text-color-primary: var(--color-neutral-300);
  --text-color-secondary: var(--color-neutral-400);
  --text-color-inverse: var(--color-neutral-900);
  --btn-bg-color: var(--color-slate-100);
  --column-background: hsl(220deg 18% 10% / 44%);

  --placeholderImg: url('/img/placeholderImg.png');
  --placeholderVid: url('/img/placeholderVid.png');
  --firstShadow: #0c0c0c96;
  --secondShadow: #00000063;
  --secondColor: #242424;
  --thirdColor: #1e1e1e;
  --firstBorder: 1px solid #323232cc;
  --firstBorderColor: var(--color-slate-700);
  --secondBorderColor: var(--color-slate-600);
  --firstColorOpacity: #292929e3;
  --buttonHoverColor: #353434;
  --secondNeumoShadow: inset 0 0 1em rgb(141 141 141 / 10%), 0 0 0 2px rgb(68 68 68);
  --inverseColor: white;
  --homeMaskImage: radial-gradient(ellipse 40% 75% at 50% 50%, #000 59%, transparent 120%);
  --homeHeroGradient: linear-gradient(90deg, #4f4f4f14 1px, transparent 0), linear-gradient(180deg, #4f4f4f14 1px, transparent 0);
  --homeH2Color: coral;
  --homeFooterColor: #242424;
  --sidePanelsBgColor: black;
  --inputBackgroundColor: var(--color-slate-700);
  --linkFontWeight: 600;
}

html.dark {
  background-color: #1D1D1D;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  /* background: var(--color-primary); */
  background-attachment: fixed;
}

::selection {
  background-color: var(--accentColor, #d1e7ff);
  color: var(--text-color-inverse, #000);
}

/* .rootElement {
  display: flex;
  flex-direction: column;
  width: 100%;
  grid-template-columns: 225px auto;
} */
#root {
  flex: 1;
  /* background-color: var(--color-secondary);
  background-image: var(--homeHeroGradient);
  background-size: 14px 14px;
  background-attachment: fixed; */
  flex-direction: column;
  display: flex;
  margin: 0;
  width: 100%;
}

.grid {
  display: grid;
  grid-template-areas: "header"
    "toolbar"
    "main";
  grid-template-columns: 100%;
  grid-template-rows: auto auto 1fr;
  width: 100%;
  /* background-color: var(--color-primary); */
}

@media (min-width: 1280px) {
  .grid {
    grid-template-areas: "header header header"
      "toolbar main favopt1";
    grid-template-columns: 55px 1fr 0px;
    grid-template-rows: 60px 1fr;
  }

  .grid.profile-page {
    grid-template-areas: "header header header"
      "toolbar main main";
    grid-template-columns: 55px 1fr 260px;
    grid-template-rows: 60px 1fr;
  }

  .toolbar {
    border-right: var(--firstBorder);
    background: repeating-linear-gradient(-45deg, var(--color-primary) 0 4px, var(--color-medium) 0 7px);
  }
}

.yoopta-block-action-buttons svg {
  color: var(--text-color-primary);
}

/* Bloque Header */
header.main_header {
  grid-area: header;
  display: grid;
  grid-auto-flow: row;
  justify-items: stretch;
  align-items: center;
  top: 0;
  position: sticky;
  z-index: 2;
  animation: blurAnimation 1s linear forwards;
  animation-timeline: scroll();
  border-bottom: var(--firstBorder);
  background-color: var(--color-medium);
}

@media (min-width: 1024px) {
  header.main_header {
    display: flex;
    padding-inline: 16px;
    justify-content: space-between;
  }
}

.list_of_links .link img {
  margin-left: 8px;
}

@media (min-width: 1280px) {
  header.main_header {
    padding-inline: 18px;

  }
}

@keyframes blurAnimation {
  0% {
    backdrop-filter: blur(0px);
    background-color: hsl(from var(--color-medium) h s l / 100%);
  }

  100% {
    backdrop-filter: blur(15px);
    background-color: hsl(from var(--color-medium) h s l / 75%);
  }
}

[data-overlayscrollbars~=host],
[data-overlayscrollbars~=viewport] {
  overflow: initial;
}

/* .pinned {
  width: clamp(300px, 50%, 800px);
} */

.pinned .sidebar_wrapper_gc {
  visibility: visible;
  opacity: 1;
  transition: visibility .1s, opacity .1s;
  transition-delay: .3s;
}

.pinned.resize-drag {
  width: 0;
}

.colOpen {
  height: auto;
}

.colOpen .link {
  display: flex;
}

.colOpen .linkCount {
  visibility: hidden;
}

[id^="virtual-"] {
  background: repeating-linear-gradient(-45deg, var(--color-primary) 0 4px, var(--color-medium) 0 7px);
  border: 1px solid hsl(from var(--accentColor) h s l / 37%);
}

[popover]:-internal-popover-in-top-layer::backdrop {
  background-color: hsl(from var(--color-medium) h s l / 75%);
}

#user-info-menu::backdrop {
  background-color: transparent;
}

[popover] {
  border: 0;
}

.linkCount {
  font-size: .75rem;
  font-style: italic;
  margin-left: 5px;
  color: var(--accentColor);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--color-secondary) inset !important;
  -webkit-text-fill-color: var(--text-color-primary) !important;
  border: 0 !important;
  /* border-radius: 0 !important; */
}

input[type='text'],
input[type='password'],
input[type='email'] {
  padding-left: 11px;
  background-color: var(--inputBackgroundColor);
  /* border-radius: var(--button-radius); */
  border: 0;
  color: var(--text-color-primary);
  outline: none;
  font-family: inherit;
  font-weight: 500;
  height: 36px;
}

input[type='text']::placeholder,
input[type='password']::placeholder {
  color: var(--text-color-secondary);
  font-family: inherit;
  font-weight: 500;
  font-style: italic;
}

input[type='text']:focus,
input[type='text']:visited,
input[type='password']:focus,
input[type='password']:visited {
  background: var(--color-secondary);
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  background-color: var(--thirdColor) !important;
  -webkit-box-shadow: 0 0 0px 1000px rgba(222, 225, 230, 1) inset;
  border: 1px solid #9a9a9a;
}

a {
  display: flex;
  font-weight: var(--linkFontWeight);
  color: var(--text-color-secondary);
  text-decoration: inherit;
  font-size: .875rem;
  transition: height .3s ease-in-out;
  flex-grow: 1;

  & :hover {
    color: var(--text-color-primary);
  }
}

/* a:hover svg,
span:hover svg {
  filter: drop-shadow(0px 0px 2px var(--accentColor));
} */

a.active,
.link.active,
.link.navlink_active {
  border-left: 1px solid var(--accentColor);
}

/* .link.navlink_active>div:first-child {
  border-left: 1px solid var(--accentColor);
} */

.selectMode .link img {
  margin-left: 0;
}

.selectMode .link a {
  flex-wrap: nowrap;
}

.selectMode .column h2 {
  margin-left: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

ul {
  list-style-type: none;
}

/* .flex {
  display: flex;
  align-items: center;
  gap: 16px;
} */

button,
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  padding: 8px 14px;
  cursor: pointer;
  color: var(--text-color-inverse);
  background-color: var(--btn-bg-color);
  border-radius: var(--button-radius);
}

.button_small {
  padding: 6px 12px;
  font-size: .75rem;
}

button:disabled,
.button:disabled {
  opacity: .5;
  cursor: not-allowed;
}

button:disabled:hover {
  background-color: transparent;
}

button:hover {
  opacity: .8;
  transition: opacity .3s;
  /* color: var(--accentColor); */
  /* box-shadow: var(--secondNeumoShadow); */
}

.DocSearch-Button-Placeholder {
  display: none;
}

button:active,
.button:active {
  opacity: 1;
  scale: .98;
}

/* button:hover svg {
  filter: drop-shadow(0px 0px 2px var(--accentColor));
} */

.uiIcon {
  width: 20px;
  cursor: pointer;
  color: var(--accentColor);
  transition: transform .150s ease-in-out;
}

.uiIcon-button {
  width: 16px;
  cursor: pointer;
  /* padding-top: 1px; */
}

.uiIcon-menu {
  width: 1rem;
  color: var(--accentColor);
  cursor: pointer;
}

.uiIcon_small {
  width: 17px;
  height: 17px;
  cursor: pointer;
  color: var(--accentColor);
  transition: filter .3s ease-out, transform .150s ease-in-out;
}

/* .uiIcon_small:hover {
  filter: drop-shadow(0px 0px 2px var(--accentColor));
} */

.buttonIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 0;
  padding: 2px;
  cursor: pointer;
  transition: background-color .3s;
  border-radius: 3px;
}

.buttonIcon:hover {
  background-color: var(--color-secondary);
  box-shadow: none;
}

.deskForm {
  width: 550px;
  height: auto;
  background: var(--color-medium);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: var(--firstBorder);
  padding: 35px 100px;
  border-radius: var(--border-radius);
  /* gap: 15px; */
  box-shadow: 0px 0px 35px var(--firstShadow);
  display: flex;

  & input {
    width: 100%;
    margin-bottom: 15px;
  }

  & legend {
    padding: 0 16px;
    margin-bottom: 15px;
    font-size: .84rem;
    text-align: center;
  }

  & h2 {
    font-size: 1.2rem;
    text-align: center;
    text-wrap: balance;
  }

  & h3 {
    margin: 0 0 15px 0;
    font-size: 1.2rem;
    text-align: center;
    text-wrap: balance;
  }

  & fieldset {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
    padding: 0;
    border: 0;
    /* border-radius: var(--button-radius); */
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--firstBorderColor);
  }

  & select {
    width: 100%;
    margin-bottom: 15px;
    height: 36px;
    background-color: var(--inputBackgroundColor);
  }

  & label {
    display: flex;
    width: 99%;
    font-size: .84rem;
    font-weight: 600;
  }

  & .button_group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 15px 0;
    width: -webkit-fill-available;

    & button {
      width: 100%;
    }
  }
}

textarea {
  background-color: transparent;
  color: var(--text-color-primary);
  padding: 10px;
}

.newSection {
  padding: 38px;
  background-color: var(--mainColor);
  border-radius: var(--border-radius);
  border: var(--firstBorder);
  width: 21.8%;
  position: relative;
  left: 390px;
  border-left-color: var(--accentColor);
  display: inline-flex;
}

.show {
  display: flex;
}

.rotate180 {
  transform: rotate(180deg);
}

favopt1 {
  background-color: var(--firstShadow);
}

@media (min-width: 1280px) {

  #root {
    flex-direction: row;
  }

  .home>#root {
    flex-direction: column;
  }

  .DocSearch-Button-Placeholder {
    display: initial;
  }

  .root {
    margin: .5rem;
  }

  /* .pinned {
    width: var(--sidebar-desktop-width) !important;
  } */

  #sidebar {
    transition: width .3s ease-in-out;
  }

  /* #sidebar:hover {
    width: var(--sidebar-desktop-width) !important;
  } */
}