:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --firstColor: white;
  --secondColor: #dee1e6;
  --thirdColor: #f1f3f4;
  --fourthColor: #f1f1f1;
  --fifthColor: #ededed;
  --bgSecondGradient: radial-gradient(circle, rgba(222, 225, 230, 1) 0%, rgba(222, 225, 230, 1) 100%);
  --bgGradient: radial-gradient(circle, rgba(222, 225, 230, 1) 0%, rgba(222, 225, 230, 1) 100%);
  --accentColor: #bababa;
  --neumoShadow: inset 0 0 1em rgb(141 141 141 / 10%), 0 0 0 2px rgb(239 239 239), 0.3em 1em 2em rgb(0 0 0 / 7%);
  --secondNeumoShadow: inset 0 0 1em rgb(141 141 141 / 10%), 0 0 0 2px rgb(239 239 239);
  --firstTextColor: #4e4e4e;
  --secondTextColor: #4f4f4f;
  --buttonTextColor: #4e4e4e;
  --firstBorder: 1px solid #e8e8e8cc;
  --firstShadow: #5050501a;
  --firstBorderColor: #d5d5d5cc;
  --firstHvColor: #f1f3f4;
  --sixthColor: #fcfcfc;
  --firstButtonColor: #dee1e6;
  --placeholderImg: url(../img/placeholderImgLight.png);
  --placeholderVid: url(../img/placeholderVidLight.png);
}
html.dark {
  --firstColor: #292929;
  /* --secondColor: #313131; */
  --secondColor: #31313185;
  --thirdColor: #414141;
  --fourthColor: #2d2d2d;
  --fifthColor: #292929;
  --bgSecondGradient: radial-gradient(circle 815px at 23.4% -21.8%, rgb(64 64 64) 0.2%, rgb(33 33 33) 100.2%);
  --bgGradient: url('/img/fondo.png');
  --accentColor: #bf7272;
  --neumoShadow: inset 0 0 1em rgb(141 141 141 / 10%), 0 0 0 2px rgb(68 68 68), 0.3em 1em 2em rgba(0, 0, 0, 0.3);
  --secondNeumoShadow: inset 0 0 1em rgb(141 141 141 / 10%), 0 0 0 2px rgb(68 68 68);
  --firstTextColor: #e2e2e2;
  --buttonTextColor: #4e4e4e;
  --secondTextColor: #b1b1b1;
  --firstBorder: 1px solid #323232cc;
  --firstShadow: #0c0c0c;
  --firstBorderColor: #575757cc;
  --firstHvColor: #232323;
  --sixthColor: #232323;
  --firstButtonColor: #313131;
  /*Third color*/
  --placeholderImg: url('../img/placeholderImg.png');
  --placeholderVid: url('../img/placeholderVid.png')
}
.textBold {
  font-weight: bold;
  color: var(--accentColor);
}

.textMono {
  font-family: monospace;
  color: var(--accentColor);
  position: relative;
  top: -5px;
}

input[type='text'] {
  height: 34px;
  padding-left: 11px;
  background-color: var(--thirdColor);
  border-radius: 5px;
  border: 1px solid var(--firstBorderColor);
  color: var(--firstTextColor);
  outline: none;
  font-family: inherit;
  font-weight: 500;
}
input[type='text']:focus, input[type='text']:visited {
  background: var(--bgGradient);
  border: 1px solid #9a9a9a;
}
input:-webkit-autofill,
input:-webkit-autofill:focus {
  background-color: var(--thirdColor) !important;
  -webkit-box-shadow: 0 0 0px 1000px rgba(222, 225, 230, 1) inset;
  border: 1px solid #9a9a9a;
}

a {
  font-weight: 500;
  color: var(--firstTextColor);
  text-decoration: inherit;
}

/* a:hover {
  color: #535bf2;
} */
/* a {
  text-decoration: none;
  color: var(--firstTextColor);
} */
body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: var(--bgGradient);
  /* background-size: cover; */
  background-attachment: fixed;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
div.settings {
  padding: 10px;
  display: flex;
  gap: 15px;
}

div.settings:hover .bodcontrols {
  display: flex;
}

.bodcontrols {
  position: absolute;
  background-color: var(--fifthColor);
  box-shadow: 0px 15px 25px var(--firstShadow);
  border-radius: 5px;
  top: 58px;
  right: 7%;
  padding: 6px 0px;
  z-index: 12;
  flex-direction: column;
  align-items: center;
  display: none;
  color: var(--firstTextColor);
  font-weight: 500;
  justify-content: center;
  gap: 2px;
  min-width: 215px;
}

.bodcontrols span {

  cursor: pointer;
  font-size: 14px;
  display: flex;
  align-items: center;
  width: 80%;
  padding: 5px 15px;
  border-radius: 5px;
}

.bodcontrols span:hover {
  background-color: var(--firstHvColor);
}
.sideInfoSelectedCol {
  box-shadow: 0px 0px 30px var(--accentColor);
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}