.flex {
    display: flex;
}

.hidden {
    display: none;
}

select {
    padding: 4px 8px;
    border-radius: 4px;
    border: 1px solid var(--firstBorderColor);
    background-color: var(--secondColor);
    color: var(--text-primary);
    cursor: pointer;
    width: 80%;
}